/*
SCP LoadBalancer Service

SCP LoadBalancer Service

API version: 1.5.0.0rc1.dev138
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package loadbalancer

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// LoadbalancerV1LoadbalancersApiAPIService LoadbalancerV1LoadbalancersApiAPI service
type LoadbalancerV1LoadbalancersApiAPIService service

type LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest struct {
	ctx                       context.Context
	ApiService                *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerCreateRequest *LoadbalancerCreateRequest
}

func (r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest) LoadbalancerCreateRequest(loadbalancerCreateRequest LoadbalancerCreateRequest) LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest {
	r.loadbalancerCreateRequest = &loadbalancerCreateRequest
	return r
}

func (r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest) Execute() (*LoadbalancerCreateResponse, *http.Response, error) {
	return r.ApiService.CreateLoadbalancerExecute(r)
}

/*
CreateLoadbalancer CreateLoadbalancer

create Load Balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) CreateLoadbalancer(ctx context.Context) LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest {
	return LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LoadbalancerCreateResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) CreateLoadbalancerExecute(r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerRequest) (*LoadbalancerCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LoadbalancerCreateResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.loadbalancerCreateRequest == nil {
		return localVarReturnValue, nil, reportError("loadbalancerCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.loadbalancerCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest struct {
	ctx                           context.Context
	ApiService                    *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId                string
	privateStaticNatCreateRequest *PrivateStaticNatCreateRequest
}

func (r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest) PrivateStaticNatCreateRequest(privateStaticNatCreateRequest PrivateStaticNatCreateRequest) LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest {
	r.privateStaticNatCreateRequest = &privateStaticNatCreateRequest
	return r
}

func (r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest) Execute() (*PrivateStaticNatCreateResponse, *http.Response, error) {
	return r.ApiService.CreateLoadbalancerPrivateNatIpExecute(r)
}

/*
CreateLoadbalancerPrivateNatIp CreateLoadbalancerPrivateNatIp

create Load Balancer Private NAT IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) CreateLoadbalancerPrivateNatIp(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest {
	return LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
//
//	@return PrivateStaticNatCreateResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) CreateLoadbalancerPrivateNatIpExecute(r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPrivateNatIpRequest) (*PrivateStaticNatCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateStaticNatCreateResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}/private-static-nats"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateStaticNatCreateRequest == nil {
		return localVarReturnValue, nil, reportError("privateStaticNatCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateStaticNatCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest struct {
	ctx                    context.Context
	ApiService             *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId         string
	staticNatCreateRequest *StaticNatCreateRequest
}

func (r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest) StaticNatCreateRequest(staticNatCreateRequest StaticNatCreateRequest) LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest {
	r.staticNatCreateRequest = &staticNatCreateRequest
	return r
}

func (r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest) Execute() (*StaticNatCreateResponse, *http.Response, error) {
	return r.ApiService.CreateLoadbalancerPublicNatIpExecute(r)
}

/*
CreateLoadbalancerPublicNatIp CreateLoadbalancerPublicNatIp

create Load Balancer Public NAT IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) CreateLoadbalancerPublicNatIp(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest {
	return LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
//
//	@return StaticNatCreateResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) CreateLoadbalancerPublicNatIpExecute(r LoadbalancerV1LoadbalancersApiAPICreateLoadbalancerPublicNatIpRequest) (*StaticNatCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StaticNatCreateResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}/static-nats"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.staticNatCreateRequest == nil {
		return localVarReturnValue, nil, reportError("staticNatCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.staticNatCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerRequest struct {
	ctx            context.Context
	ApiService     *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId string
}

func (r LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLoadbalancerExecute(r)
}

/*
DeleteLoadbalancer DeleteLoadbalancer

delete Load Balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) DeleteLoadbalancer(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerRequest {
	return LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
func (a *LoadbalancerV1LoadbalancersApiAPIService) DeleteLoadbalancerExecute(r LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPrivateNatIpRequest struct {
	ctx            context.Context
	ApiService     *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId string
}

func (r LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPrivateNatIpRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLoadbalancerPrivateNatIpExecute(r)
}

/*
DeleteLoadbalancerPrivateNatIp DeleteLoadbalancerPrivateNatIp

delete Load Balancer Private NAT IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPrivateNatIpRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) DeleteLoadbalancerPrivateNatIp(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPrivateNatIpRequest {
	return LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPrivateNatIpRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
func (a *LoadbalancerV1LoadbalancersApiAPIService) DeleteLoadbalancerPrivateNatIpExecute(r LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPrivateNatIpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}/private-static-nats"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPublicNatIpRequest struct {
	ctx            context.Context
	ApiService     *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId string
}

func (r LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPublicNatIpRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLoadbalancerPublicNatIpExecute(r)
}

/*
DeleteLoadbalancerPublicNatIp DeleteLoadbalancerPublicNatIp

delete Load Balancer Public NAT IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPublicNatIpRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) DeleteLoadbalancerPublicNatIp(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPublicNatIpRequest {
	return LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPublicNatIpRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
func (a *LoadbalancerV1LoadbalancersApiAPIService) DeleteLoadbalancerPublicNatIpExecute(r LoadbalancerV1LoadbalancersApiAPIDeleteLoadbalancerPublicNatIpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}/static-nats"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest struct {
	ctx        context.Context
	ApiService *LoadbalancerV1LoadbalancersApiAPIService
	size       *int32
	page       *int32
	sort       *string
	name       *string
	state      *State
	serviceIp  *string
	subnetId   *string
	layerType  *LayerType
	vpcId      *string
}

// size
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) Size(size int32) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.size = &size
	return r
}

// page
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) Page(page int32) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.page = &page
	return r
}

// sort
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) Sort(sort string) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.sort = &sort
	return r
}

// The name of the load balancer.
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) Name(name string) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.name = &name
	return r
}

// The state of the load balancer.
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) State(state State) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.state = &state
	return r
}

// The service IP of the load balancer.
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) ServiceIp(serviceIp string) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.serviceIp = &serviceIp
	return r
}

// Subnet ID
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) SubnetId(subnetId string) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.subnetId = &subnetId
	return r
}

// Layer type
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) LayerType(layerType LayerType) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.layerType = &layerType
	return r
}

// VPC ID
func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) VpcId(vpcId string) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	r.vpcId = &vpcId
	return r
}

func (r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) Execute() (*LoadbalancerListResponse, *http.Response, error) {
	return r.ApiService.ListLoadbalancersExecute(r)
}

/*
ListLoadbalancers ListLoadbalancers

get Load Balancer list

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) ListLoadbalancers(ctx context.Context) LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest {
	return LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LoadbalancerListResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) ListLoadbalancersExecute(r LoadbalancerV1LoadbalancersApiAPIListLoadbalancersRequest) (*LoadbalancerListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LoadbalancerListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.state != nil {
		data := r.state
		data_val := *data
		val := reflect.ValueOf(data_val)
		for i := 0; i < val.NumField(); i++ {
			field := val.Field(i)
			if field.IsValid() && !field.IsZero() {
				parameterAddToHeaderOrQuery(localVarQueryParams, "state", field.Interface(), "form", "")
			}
		}
	}
	if r.serviceIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service_ip", r.serviceIp, "form", "")
	}
	if r.subnetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subnet_id", r.subnetId, "form", "")
	}
	if r.layerType != nil {
		data := r.layerType
		data_val := *data
		val := reflect.ValueOf(data_val)
		for i := 0; i < val.NumField(); i++ {
			field := val.Field(i)
			if field.IsValid() && !field.IsZero() {
				parameterAddToHeaderOrQuery(localVarQueryParams, "layer_type", field.Interface(), "form", "")
			}
		}
	}
	if r.vpcId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_id", r.vpcId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest struct {
	ctx                       context.Context
	ApiService                *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId            string
	loadbalancerUpdateRequest *LoadbalancerUpdateRequest
}

func (r LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest) LoadbalancerUpdateRequest(loadbalancerUpdateRequest LoadbalancerUpdateRequest) LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest {
	r.loadbalancerUpdateRequest = &loadbalancerUpdateRequest
	return r
}

func (r LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest) Execute() (*LoadbalancerShowResponse, *http.Response, error) {
	return r.ApiService.SetLoadbalancerExecute(r)
}

/*
SetLoadbalancer SetLoadbalancer

Set Load Balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) SetLoadbalancer(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest {
	return LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
//
//	@return LoadbalancerShowResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) SetLoadbalancerExecute(r LoadbalancerV1LoadbalancersApiAPISetLoadbalancerRequest) (*LoadbalancerShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LoadbalancerShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.loadbalancerUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("loadbalancerUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.loadbalancerUpdateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerRequest struct {
	ctx            context.Context
	ApiService     *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId string
}

func (r LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerRequest) Execute() (*LoadbalancerShowResponse, *http.Response, error) {
	return r.ApiService.ShowLoadbalancerExecute(r)
}

/*
ShowLoadbalancer ShowLoadbalancer

show Load Balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) ShowLoadbalancer(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerRequest {
	return LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
//
//	@return LoadbalancerShowResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) ShowLoadbalancerExecute(r LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerRequest) (*LoadbalancerShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LoadbalancerShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPrivateNatIpRequest struct {
	ctx            context.Context
	ApiService     *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId string
}

func (r LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPrivateNatIpRequest) Execute() (*PrivateStaticNatShowResponse, *http.Response, error) {
	return r.ApiService.ShowLoadbalancerPrivateNatIpExecute(r)
}

/*
ShowLoadbalancerPrivateNatIp ShowLoadbalancerPrivateNatIp

Show Load Balancer Private NAT IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPrivateNatIpRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) ShowLoadbalancerPrivateNatIp(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPrivateNatIpRequest {
	return LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPrivateNatIpRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
//
//	@return PrivateStaticNatShowResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) ShowLoadbalancerPrivateNatIpExecute(r LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPrivateNatIpRequest) (*PrivateStaticNatShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateStaticNatShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}/private-static-nats"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPublicNatIpRequest struct {
	ctx            context.Context
	ApiService     *LoadbalancerV1LoadbalancersApiAPIService
	loadbalancerId string
}

func (r LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPublicNatIpRequest) Execute() (*LoadbalancerStaticNatResponse, *http.Response, error) {
	return r.ApiService.ShowLoadbalancerPublicNatIpExecute(r)
}

/*
ShowLoadbalancerPublicNatIp ShowLoadbalancerPublicNatIp

Show Load Balancer Public NAT IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadbalancerId ID
	@return LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPublicNatIpRequest
*/
func (a *LoadbalancerV1LoadbalancersApiAPIService) ShowLoadbalancerPublicNatIp(ctx context.Context, loadbalancerId string) LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPublicNatIpRequest {
	return LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPublicNatIpRequest{
		ApiService:     a,
		ctx:            ctx,
		loadbalancerId: loadbalancerId,
	}
}

// Execute executes the request
//
//	@return LoadbalancerStaticNatResponse
func (a *LoadbalancerV1LoadbalancersApiAPIService) ShowLoadbalancerPublicNatIpExecute(r LoadbalancerV1LoadbalancersApiAPIShowLoadbalancerPublicNatIpRequest) (*LoadbalancerStaticNatResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LoadbalancerStaticNatResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/loadbalancers/{loadbalancer_id}/static-nats"
	localVarPath = strings.Replace(localVarPath, "{"+"loadbalancer_id"+"}", url.PathEscape(parameterValueToString(r.loadbalancerId, "loadbalancerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "loadbalancer")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
