/*
OSSCP backup Project

OSSCP backup Project

API version: 1.3.0.0rc1.dev111
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package backup

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BackupV1AgentBackupsRestoreAPIAPIService BackupV1AgentBackupsRestoreAPIAPI service
type BackupV1AgentBackupsRestoreAPIAPIService service

type BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest struct {
	ctx context.Context
	ApiService *BackupV1AgentBackupsRestoreAPIAPIService
	backupId string
	serverName *string
	page *int32
	size *int32
}

// Backup server name
func (r BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest) ServerName(serverName string) BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest {
	r.serverName = &serverName
	return r
}

// Page
func (r BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest) Page(page int32) BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest {
	r.page = &page
	return r
}

// Size
func (r BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest) Size(size int32) BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest {
	r.size = &size
	return r
}

func (r BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest) Execute() (*AgentBackupRestoreTargetServerListResponse, *http.Response, error) {
	return r.ApiService.ListAgentBackupRestoreTargetServersExecute(r)
}

/*
ListAgentBackupRestoreTargetServers List Agent Backup Restore Target Servers

List Agent Backup restore target servers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param backupId Backup ID
 @return BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest
*/
func (a *BackupV1AgentBackupsRestoreAPIAPIService) ListAgentBackupRestoreTargetServers(ctx context.Context, backupId string) BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest {
	return BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest{
		ApiService: a,
		ctx: ctx,
		backupId: backupId,
	}
}

// Execute executes the request
//  @return AgentBackupRestoreTargetServerListResponse
func (a *BackupV1AgentBackupsRestoreAPIAPIService) ListAgentBackupRestoreTargetServersExecute(r BackupV1AgentBackupsRestoreAPIAPIListAgentBackupRestoreTargetServersRequest) (*AgentBackupRestoreTargetServerListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentBackupRestoreTargetServerListResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/backups/{backup_id}/agent-backup-restore-targets"
	localVarPath = strings.Replace(localVarPath, "{"+"backup_id"+"}", url.PathEscape(parameterValueToString(r.backupId, "backupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.serverName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_name", r.serverName, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "backup 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "backup")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest struct {
	ctx context.Context
	ApiService *BackupV1AgentBackupsRestoreAPIAPIService
	backupId string
	agentBackupRestoreRequest *AgentBackupRestoreRequest
}

func (r BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest) AgentBackupRestoreRequest(agentBackupRestoreRequest AgentBackupRestoreRequest) BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest {
	r.agentBackupRestoreRequest = &agentBackupRestoreRequest
	return r
}

func (r BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest) Execute() (*SyncResponse, *http.Response, error) {
	return r.ApiService.RestoreAgentBackupExecute(r)
}

/*
RestoreAgentBackup Restore Agent Backup

Restore the Backup.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param backupId Backup ID
 @return BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest
*/
func (a *BackupV1AgentBackupsRestoreAPIAPIService) RestoreAgentBackup(ctx context.Context, backupId string) BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest {
	return BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest{
		ApiService: a,
		ctx: ctx,
		backupId: backupId,
	}
}

// Execute executes the request
//  @return SyncResponse
func (a *BackupV1AgentBackupsRestoreAPIAPIService) RestoreAgentBackupExecute(r BackupV1AgentBackupsRestoreAPIAPIRestoreAgentBackupRequest) (*SyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SyncResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/backups/{backup_id}/restore-agent-backup"
	localVarPath = strings.Replace(localVarPath, "{"+"backup_id"+"}", url.PathEscape(parameterValueToString(r.backupId, "backupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agentBackupRestoreRequest == nil {
		return localVarReturnValue, nil, reportError("agentBackupRestoreRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "backup 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "backup")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.agentBackupRestoreRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
