/*
Baremetal Service

Baremetal Service

API version: 0.0.1.dev4987
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package multinodegpucluster

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
)

// MultinodegpuclusterV1NodePoolsAPIsAPIService MultinodegpuclusterV1NodePoolsAPIsAPI service
type MultinodegpuclusterV1NodePoolsAPIsAPIService service

type MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest struct {
	ctx             context.Context
	ApiService      *MultinodegpuclusterV1NodePoolsAPIsAPIService
	subnetId        *string
	clusterFabricId *string
	nodePoolId      *string
}

// Subnet ID
func (r MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest) SubnetId(subnetId string) MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest {
	r.subnetId = &subnetId
	return r
}

// Cluster Fabric ID
func (r MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest) ClusterFabricId(clusterFabricId string) MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest {
	r.clusterFabricId = &clusterFabricId
	return r
}

// Node Pool ID
func (r MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest) NodePoolId(nodePoolId string) MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest {
	r.nodePoolId = &nodePoolId
	return r
}

func (r MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest) Execute() (*NodePoolListResponse, *http.Response, error) {
	return r.ApiService.ListNodePoolsExecute(r)
}

/*
ListNodePools List Node Pools

List node pools.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest
*/
func (a *MultinodegpuclusterV1NodePoolsAPIsAPIService) ListNodePools(ctx context.Context) MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest {
	return MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return NodePoolListResponse
func (a *MultinodegpuclusterV1NodePoolsAPIsAPIService) ListNodePoolsExecute(r MultinodegpuclusterV1NodePoolsAPIsAPIListNodePoolsRequest) (*NodePoolListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NodePoolListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/cluster-fabrics/node-pools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subnetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subnet_id", r.subnetId, "form", "")
	}
	if r.clusterFabricId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_fabric_id", r.clusterFabricId, "form", "")
	}
	if r.nodePoolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "node_pool_id", r.nodePoolId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
