/*
Baremetal Service

Baremetal Service

API version: 0.0.1.dev4809
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package multinodegpucluster

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MultinodegpuclusterV1GpuNodesAPIsAPIService MultinodegpuclusterV1GpuNodesAPIsAPI service
type MultinodegpuclusterV1GpuNodesAPIsAPIService service

type MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest struct {
	ctx                  context.Context
	ApiService           *MultinodegpuclusterV1GpuNodesAPIsAPIService
	gpuNodeCreateRequest *GpuNodeCreateRequest
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest) GpuNodeCreateRequest(gpuNodeCreateRequest GpuNodeCreateRequest) MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest {
	r.gpuNodeCreateRequest = &gpuNodeCreateRequest
	return r
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest) Execute() (*AsyncResponse, *http.Response, error) {
	return r.ApiService.CreateGpuNodesExecute(r)
}

/*
CreateGpuNodes Create GPU Nodes

Create GPU Nodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest
*/
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) CreateGpuNodes(ctx context.Context) MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest {
	return MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return AsyncResponse
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) CreateGpuNodesExecute(r MultinodegpuclusterV1GpuNodesAPIsAPICreateGpuNodesRequest) (*AsyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AsyncResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/gpu-nodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gpuNodeCreateRequest == nil {
		return localVarReturnValue, nil, reportError("gpuNodeCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gpuNodeCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest struct {
	ctx                     context.Context
	ApiService              *MultinodegpuclusterV1GpuNodesAPIsAPIService
	gpuNodeTerminateRequest *GpuNodeTerminateRequest
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest) GpuNodeTerminateRequest(gpuNodeTerminateRequest GpuNodeTerminateRequest) MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest {
	r.gpuNodeTerminateRequest = &gpuNodeTerminateRequest
	return r
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest) Execute() (*AsyncResponse, *http.Response, error) {
	return r.ApiService.DeleteGpuNodesExecute(r)
}

/*
DeleteGpuNodes Delete GPU Nodes

Delete GPU Nodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest
*/
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) DeleteGpuNodes(ctx context.Context) MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest {
	return MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return AsyncResponse
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) DeleteGpuNodesExecute(r MultinodegpuclusterV1GpuNodesAPIsAPIDeleteGpuNodesRequest) (*AsyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AsyncResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/gpu-nodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gpuNodeTerminateRequest == nil {
		return localVarReturnValue, nil, reportError("gpuNodeTerminateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gpuNodeTerminateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest struct {
	ctx               context.Context
	ApiService        *MultinodegpuclusterV1GpuNodesAPIsAPIService
	size              *int32
	page              *int32
	sort              *string
	gpuNodeName       *string
	state             *string
	ip                *string
	vpcId             *string
	clusterFabricName *string
	clusterFabricId   *string
}

// size
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) Size(size int32) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.size = &size
	return r
}

// page
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) Page(page int32) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.page = &page
	return r
}

// sort
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) Sort(sort string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.sort = &sort
	return r
}

// GPU Node Name
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) GpuNodeName(gpuNodeName string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.gpuNodeName = &gpuNodeName
	return r
}

// GPU Node State
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) State(state string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.state = &state
	return r
}

// Gpu Node ip
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) Ip(ip string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.ip = &ip
	return r
}

// Gpu Node VPC ID
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) VpcId(vpcId string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.vpcId = &vpcId
	return r
}

// Cluster Fabric 이름
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) ClusterFabricName(clusterFabricName string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.clusterFabricName = &clusterFabricName
	return r
}

// Cluster Fabric ID
func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) ClusterFabricId(clusterFabricId string) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	r.clusterFabricId = &clusterFabricId
	return r
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) Execute() (*GpuNodeListResponse, *http.Response, error) {
	return r.ApiService.ListGpuNodesExecute(r)
}

/*
ListGpuNodes List GPU Nodes

List GPU Nodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest
*/
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) ListGpuNodes(ctx context.Context) MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest {
	return MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return GpuNodeListResponse
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) ListGpuNodesExecute(r MultinodegpuclusterV1GpuNodesAPIsAPIListGpuNodesRequest) (*GpuNodeListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GpuNodeListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/gpu-nodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.gpuNodeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_node_name", r.gpuNodeName, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.vpcId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_id", r.vpcId, "form", "")
	}
	if r.clusterFabricName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_fabric_name", r.clusterFabricName, "form", "")
	}
	if r.clusterFabricId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_fabric_id", r.clusterFabricId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1GpuNodesAPIsAPIShowGpuNodeRequest struct {
	ctx        context.Context
	ApiService *MultinodegpuclusterV1GpuNodesAPIsAPIService
	gpuNodeId  string
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIShowGpuNodeRequest) Execute() (*GpuNodeShowResponse, *http.Response, error) {
	return r.ApiService.ShowGpuNodeExecute(r)
}

/*
ShowGpuNode Show GPU Node

Show GPU Node.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param gpuNodeId ID
 @return MultinodegpuclusterV1GpuNodesAPIsAPIShowGpuNodeRequest
*/
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) ShowGpuNode(ctx context.Context, gpuNodeId string) MultinodegpuclusterV1GpuNodesAPIsAPIShowGpuNodeRequest {
	return MultinodegpuclusterV1GpuNodesAPIsAPIShowGpuNodeRequest{
		ApiService: a,
		ctx:        ctx,
		gpuNodeId:  gpuNodeId,
	}
}

// Execute executes the request
//  @return GpuNodeShowResponse
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) ShowGpuNodeExecute(r MultinodegpuclusterV1GpuNodesAPIsAPIShowGpuNodeRequest) (*GpuNodeShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GpuNodeShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/gpu-nodes/{gpu_node_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"gpu_node_id"+"}", url.PathEscape(parameterValueToString(r.gpuNodeId, "gpuNodeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest struct {
	ctx                     context.Context
	ApiService              *MultinodegpuclusterV1GpuNodesAPIsAPIService
	gpuNodeOperationRequest *GpuNodeOperationRequest
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest) GpuNodeOperationRequest(gpuNodeOperationRequest GpuNodeOperationRequest) MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest {
	r.gpuNodeOperationRequest = &gpuNodeOperationRequest
	return r
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest) Execute() (*AsyncResponse, *http.Response, error) {
	return r.ApiService.StartGpuNodesExecute(r)
}

/*
StartGpuNodes Start GPU Nodes

Start GPU Nodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest
*/
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) StartGpuNodes(ctx context.Context) MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest {
	return MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return AsyncResponse
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) StartGpuNodesExecute(r MultinodegpuclusterV1GpuNodesAPIsAPIStartGpuNodesRequest) (*AsyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AsyncResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/gpu-nodes/start"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gpuNodeOperationRequest == nil {
		return localVarReturnValue, nil, reportError("gpuNodeOperationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gpuNodeOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest struct {
	ctx                     context.Context
	ApiService              *MultinodegpuclusterV1GpuNodesAPIsAPIService
	gpuNodeOperationRequest *GpuNodeOperationRequest
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest) GpuNodeOperationRequest(gpuNodeOperationRequest GpuNodeOperationRequest) MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest {
	r.gpuNodeOperationRequest = &gpuNodeOperationRequest
	return r
}

func (r MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest) Execute() (*AsyncResponse, *http.Response, error) {
	return r.ApiService.StopGpuNodesExecute(r)
}

/*
StopGpuNodes Stop GPU Nodes

Stop GPU Nodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest
*/
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) StopGpuNodes(ctx context.Context) MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest {
	return MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return AsyncResponse
func (a *MultinodegpuclusterV1GpuNodesAPIsAPIService) StopGpuNodesExecute(r MultinodegpuclusterV1GpuNodesAPIsAPIStopGpuNodesRequest) (*AsyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AsyncResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/gpu-nodes/stop"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gpuNodeOperationRequest == nil {
		return localVarReturnValue, nil, reportError("gpuNodeOperationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gpuNodeOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
