/*
Baremetal Service

Baremetal Service

API version: 0.0.1.dev4809
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package multinodegpucluster

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MultinodegpuclusterV1ClusterFabricsAPIsAPIService MultinodegpuclusterV1ClusterFabricsAPIsAPI service
type MultinodegpuclusterV1ClusterFabricsAPIsAPIService service

type MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest struct {
	ctx               context.Context
	ApiService        *MultinodegpuclusterV1ClusterFabricsAPIsAPIService
	size              *int32
	page              *int32
	sort              *string
	clusterFabricName *string
	state             *string
	nodePoolId        *string
}

// size
func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) Size(size int32) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	r.size = &size
	return r
}

// page
func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) Page(page int32) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	r.page = &page
	return r
}

// sort
func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) Sort(sort string) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	r.sort = &sort
	return r
}

// Cluster Fabric 이름
func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) ClusterFabricName(clusterFabricName string) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	r.clusterFabricName = &clusterFabricName
	return r
}

// State
func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) State(state string) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	r.state = &state
	return r
}

// Node Pool ID
func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) NodePoolId(nodePoolId string) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	r.nodePoolId = &nodePoolId
	return r
}

func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) Execute() (*ClusterFabricListResponse, *http.Response, error) {
	return r.ApiService.ListClusterFabricsExecute(r)
}

/*
ListClusterFabrics List Cluster Fabrics

List Cluster Fabrics.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest
*/
func (a *MultinodegpuclusterV1ClusterFabricsAPIsAPIService) ListClusterFabrics(ctx context.Context) MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest {
	return MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return ClusterFabricListResponse
func (a *MultinodegpuclusterV1ClusterFabricsAPIsAPIService) ListClusterFabricsExecute(r MultinodegpuclusterV1ClusterFabricsAPIsAPIListClusterFabricsRequest) (*ClusterFabricListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClusterFabricListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/cluster-fabrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.clusterFabricName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_fabric_name", r.clusterFabricName, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.nodePoolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "node_pool_id", r.nodePoolId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest struct {
	ctx                                  context.Context
	ApiService                           *MultinodegpuclusterV1ClusterFabricsAPIsAPIService
	clusterFabricMemberModifyRequestBody *ClusterFabricMemberModifyRequestBody
}

func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest) ClusterFabricMemberModifyRequestBody(clusterFabricMemberModifyRequestBody ClusterFabricMemberModifyRequestBody) MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest {
	r.clusterFabricMemberModifyRequestBody = &clusterFabricMemberModifyRequestBody
	return r
}

func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest) Execute() (*AsyncResponse, *http.Response, error) {
	return r.ApiService.ModifyClusterFabricMembersExecute(r)
}

/*
ModifyClusterFabricMembers Modify Cluster Fabric Members

Modify Cluster Fabric Members.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest
*/
func (a *MultinodegpuclusterV1ClusterFabricsAPIsAPIService) ModifyClusterFabricMembers(ctx context.Context) MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest {
	return MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return AsyncResponse
func (a *MultinodegpuclusterV1ClusterFabricsAPIsAPIService) ModifyClusterFabricMembersExecute(r MultinodegpuclusterV1ClusterFabricsAPIsAPIModifyClusterFabricMembersRequest) (*AsyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AsyncResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/cluster-fabrics/modify-members"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clusterFabricMemberModifyRequestBody == nil {
		return localVarReturnValue, nil, reportError("clusterFabricMemberModifyRequestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.clusterFabricMemberModifyRequestBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MultinodegpuclusterV1ClusterFabricsAPIsAPIShowClusterFabricRequest struct {
	ctx             context.Context
	ApiService      *MultinodegpuclusterV1ClusterFabricsAPIsAPIService
	clusterFabricId string
}

func (r MultinodegpuclusterV1ClusterFabricsAPIsAPIShowClusterFabricRequest) Execute() (*ClusterFabricShowResponse, *http.Response, error) {
	return r.ApiService.ShowClusterFabricExecute(r)
}

/*
ShowClusterFabric Show Cluster Fabric

Show Cluster Fabric.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clusterFabricId Cluster Fabric ID
 @return MultinodegpuclusterV1ClusterFabricsAPIsAPIShowClusterFabricRequest
*/
func (a *MultinodegpuclusterV1ClusterFabricsAPIsAPIService) ShowClusterFabric(ctx context.Context, clusterFabricId string) MultinodegpuclusterV1ClusterFabricsAPIsAPIShowClusterFabricRequest {
	return MultinodegpuclusterV1ClusterFabricsAPIsAPIShowClusterFabricRequest{
		ApiService:      a,
		ctx:             ctx,
		clusterFabricId: clusterFabricId,
	}
}

// Execute executes the request
//  @return ClusterFabricShowResponse
func (a *MultinodegpuclusterV1ClusterFabricsAPIsAPIService) ShowClusterFabricExecute(r MultinodegpuclusterV1ClusterFabricsAPIsAPIShowClusterFabricRequest) (*ClusterFabricShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClusterFabricShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/cluster-fabrics/{cluster_fabric_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_fabric_id"+"}", url.PathEscape(parameterValueToString(r.clusterFabricId, "clusterFabricId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "multinodegpucluster 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "multinodegpucluster")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
