/*
SCP Compute Service

SCP Compute Service

API version: 1.3.0.0rc2.dev948
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package virtualserver

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VirtualserverV1AutoScalingGroupVirtualServersAPIService VirtualserverV1AutoScalingGroupVirtualServersAPI service
type VirtualserverV1AutoScalingGroupVirtualServersAPIService service

type VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest struct {
	ctx context.Context
	ApiService *VirtualserverV1AutoScalingGroupVirtualServersAPIService
	autoScalingGroupId string
	marker *string
	limit *int32
	sort *string
}

// The last item&#39;s ID from previous request
func (r VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest) Marker(marker string) VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest {
	r.marker = &marker
	return r
}

// Page size of items
func (r VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest) Limit(limit int32) VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest {
	r.limit = &limit
	return r
}

// Comma-separated list of sort keys and optional sort directions in the form of &lt;key&gt;[:&lt;direction&gt;]
func (r VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest) Sort(sort string) VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest {
	r.sort = &sort
	return r
}

func (r VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest) Execute() (*AutoScalingGroupVirtualServerListResponseV1Dot2, *http.Response, error) {
	return r.ApiService.ListAutoScalingGroupVirtualServersExecute(r)
}

/*
ListAutoScalingGroupVirtualServers List Auto-Scaling Group Virtual Servers

List Auto-Scaling Group Virtual Servers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param autoScalingGroupId Auto-Scaling Group ID
 @return VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest
*/
func (a *VirtualserverV1AutoScalingGroupVirtualServersAPIService) ListAutoScalingGroupVirtualServers(ctx context.Context, autoScalingGroupId string) VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest {
	return VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest{
		ApiService: a,
		ctx: ctx,
		autoScalingGroupId: autoScalingGroupId,
	}
}

// Execute executes the request
//  @return AutoScalingGroupVirtualServerListResponseV1Dot2
func (a *VirtualserverV1AutoScalingGroupVirtualServersAPIService) ListAutoScalingGroupVirtualServersExecute(r VirtualserverV1AutoScalingGroupVirtualServersAPIListAutoScalingGroupVirtualServersRequest) (*AutoScalingGroupVirtualServerListResponseV1Dot2, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoScalingGroupVirtualServerListResponseV1Dot2
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/auto-scaling-groups/{auto_scaling_group_id}/virtual-servers"
	localVarPath = strings.Replace(localVarPath, "{"+"auto_scaling_group_id"+"}", url.PathEscape(parameterValueToString(r.autoScalingGroupId, "autoScalingGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.marker != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marker", r.marker, "form", "")
    }
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "virtualserver 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "virtualserver")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
