/*
SCP Kubernetes Service

SCP Kubernetes Service

API version: 0.0.1.dev3528
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ske

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
)


// SkeV1ImagesAPIAPIService SkeV1ImagesAPIAPI service
type SkeV1ImagesAPIAPIService service

type SkeV1ImagesAPIAPIListImagesRequest struct {
	ctx context.Context
	ApiService *SkeV1ImagesAPIAPIService
	scpOriginalImageType *string
	size *int32
	page *int32
	sort *string
	kubernetesVersion *string
	os *string
}

// scp original image type (k8s, k8s_gpu)
func (r SkeV1ImagesAPIAPIListImagesRequest) ScpOriginalImageType(scpOriginalImageType string) SkeV1ImagesAPIAPIListImagesRequest {
	r.scpOriginalImageType = &scpOriginalImageType
	return r
}

// size
func (r SkeV1ImagesAPIAPIListImagesRequest) Size(size int32) SkeV1ImagesAPIAPIListImagesRequest {
	r.size = &size
	return r
}

// page
func (r SkeV1ImagesAPIAPIListImagesRequest) Page(page int32) SkeV1ImagesAPIAPIListImagesRequest {
	r.page = &page
	return r
}

// sort
func (r SkeV1ImagesAPIAPIListImagesRequest) Sort(sort string) SkeV1ImagesAPIAPIListImagesRequest {
	r.sort = &sort
	return r
}

// Kubernetes Version
func (r SkeV1ImagesAPIAPIListImagesRequest) KubernetesVersion(kubernetesVersion string) SkeV1ImagesAPIAPIListImagesRequest {
	r.kubernetesVersion = &kubernetesVersion
	return r
}

// Image OS
func (r SkeV1ImagesAPIAPIListImagesRequest) Os(os string) SkeV1ImagesAPIAPIListImagesRequest {
	r.os = &os
	return r
}

func (r SkeV1ImagesAPIAPIListImagesRequest) Execute() (*NodepoolImageListResponseV1Dot4, *http.Response, error) {
	return r.ApiService.ListImagesExecute(r)
}

/*
ListImages List Images

List ske node images available for nodepool creation V1.4

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SkeV1ImagesAPIAPIListImagesRequest
*/
func (a *SkeV1ImagesAPIAPIService) ListImages(ctx context.Context) SkeV1ImagesAPIAPIListImagesRequest {
	return SkeV1ImagesAPIAPIListImagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NodepoolImageListResponseV1Dot4
func (a *SkeV1ImagesAPIAPIService) ListImagesExecute(r SkeV1ImagesAPIAPIListImagesRequest) (*NodepoolImageListResponseV1Dot4, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NodepoolImageListResponseV1Dot4
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scpOriginalImageType == nil {
		return localVarReturnValue, nil, reportError("scpOriginalImageType is required and must be specified")
	}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	if r.kubernetesVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kubernetes_version", r.kubernetesVersion, "form", "")
    }
	parameterAddToHeaderOrQuery(localVarQueryParams, "scp_original_image_type", r.scpOriginalImageType, "form", "")
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "ske 1.4"
	version := "v1.4"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "ske")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
