/*
OSSCP SCP Organization Service

OSSCP SCP Organization Service

API version: 0.0.1.dev54
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package organization

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// OrganizationV1ServiceControlPoliciesAPIsAPIService OrganizationV1ServiceControlPoliciesAPIsAPI service
type OrganizationV1ServiceControlPoliciesAPIsAPIService service

type OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest struct {
	ctx context.Context
	ApiService *OrganizationV1ServiceControlPoliciesAPIsAPIService
	serviceControlPolicyCreateRequest *ServiceControlPolicyCreateRequest
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest) ServiceControlPolicyCreateRequest(serviceControlPolicyCreateRequest ServiceControlPolicyCreateRequest) OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest {
	r.serviceControlPolicyCreateRequest = &serviceControlPolicyCreateRequest
	return r
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest) Execute() (*ServiceControlPolicyShowResponse, *http.Response, error) {
	return r.ApiService.CreateServiceControlPolicyExecute(r)
}

/*
CreateServiceControlPolicy CreateServiceControlPolicy

create a service control policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest
*/
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) CreateServiceControlPolicy(ctx context.Context) OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest {
	return OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServiceControlPolicyShowResponse
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) CreateServiceControlPolicyExecute(r OrganizationV1ServiceControlPoliciesAPIsAPICreateServiceControlPolicyRequest) (*ServiceControlPolicyShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceControlPolicyShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/service-control-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceControlPolicyCreateRequest == nil {
		return localVarReturnValue, nil, reportError("serviceControlPolicyCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.serviceControlPolicyCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest struct {
	ctx context.Context
	ApiService *OrganizationV1ServiceControlPoliciesAPIsAPIService
	serviceControlPolicyDeleteRequest *ServiceControlPolicyDeleteRequest
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest) ServiceControlPolicyDeleteRequest(serviceControlPolicyDeleteRequest ServiceControlPolicyDeleteRequest) OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest {
	r.serviceControlPolicyDeleteRequest = &serviceControlPolicyDeleteRequest
	return r
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest) Execute() (*ServiceControlPolicyDeleteResponse, *http.Response, error) {
	return r.ApiService.DeleteServiceControlPoliciesExecute(r)
}

/*
DeleteServiceControlPolicies DeleteServiceControlPolicies

delete service control policies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest
*/
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) DeleteServiceControlPolicies(ctx context.Context) OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest {
	return OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServiceControlPolicyDeleteResponse
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) DeleteServiceControlPoliciesExecute(r OrganizationV1ServiceControlPoliciesAPIsAPIDeleteServiceControlPoliciesRequest) (*ServiceControlPolicyDeleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceControlPolicyDeleteResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/service-control-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceControlPolicyDeleteRequest == nil {
		return localVarReturnValue, nil, reportError("serviceControlPolicyDeleteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.serviceControlPolicyDeleteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest struct {
	ctx context.Context
	ApiService *OrganizationV1ServiceControlPoliciesAPIsAPIService
	organizationId *string
	size *int32
	page *int32
	sort *string
	id *string
	name *Name
	type_ *PolicyTypeEnum
	excludeTargetId *string
}

// Organization ID
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) OrganizationId(organizationId string) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.organizationId = &organizationId
	return r
}

// size
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Size(size int32) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.size = &size
	return r
}

// page
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Page(page int32) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.page = &page
	return r
}

// sort
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Sort(sort string) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.sort = &sort
	return r
}

// Service Control Policy ID
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Id(id string) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.id = &id
	return r
}

// Service Control Policy Name
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Name(name Name) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.name = &name
	return r
}

// Service Control Policy Type
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Type_(type_ PolicyTypeEnum) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.type_ = &type_
	return r
}

// Target ID to Exclude
func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) ExcludeTargetId(excludeTargetId string) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	r.excludeTargetId = &excludeTargetId
	return r
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) Execute() (*ServiceControlPolicyPageResponse, *http.Response, error) {
	return r.ApiService.ListServiceControlPoliciesExecute(r)
}

/*
ListServiceControlPolicies ListServiceControlPolicies

get service control policies list

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest
*/
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) ListServiceControlPolicies(ctx context.Context) OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest {
	return OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServiceControlPolicyPageResponse
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) ListServiceControlPoliciesExecute(r OrganizationV1ServiceControlPoliciesAPIsAPIListServiceControlPoliciesRequest) (*ServiceControlPolicyPageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceControlPolicyPageResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/service-control-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationId == nil {
		return localVarReturnValue, nil, reportError("organizationId is required and must be specified")
	}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
    }
	if r.name != nil {
        data := r.name
        data_val := *data
        val := reflect.ValueOf(data_val)
        for i := 0; i < val.NumField(); i++ {
            field := val.Field(i)
            if field.IsValid() && !field.IsZero() {
                parameterAddToHeaderOrQuery(localVarQueryParams, "name", field.Interface(), "form", "")
            }
        }
    }
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
    }
	if r.excludeTargetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_target_id", r.excludeTargetId, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest struct {
	ctx context.Context
	ApiService *OrganizationV1ServiceControlPoliciesAPIsAPIService
	policyId string
	serviceControlPolicySetRequest *ServiceControlPolicySetRequest
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest) ServiceControlPolicySetRequest(serviceControlPolicySetRequest ServiceControlPolicySetRequest) OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest {
	r.serviceControlPolicySetRequest = &serviceControlPolicySetRequest
	return r
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest) Execute() (*ServiceControlPolicyShowResponse, *http.Response, error) {
	return r.ApiService.SetServiceControlPolicyExecute(r)
}

/*
SetServiceControlPolicy SetServiceControlPolicy

set a specific service control policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId Service Control Policy ID
 @return OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest
*/
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) SetServiceControlPolicy(ctx context.Context, policyId string) OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest {
	return OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return ServiceControlPolicyShowResponse
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) SetServiceControlPolicyExecute(r OrganizationV1ServiceControlPoliciesAPIsAPISetServiceControlPolicyRequest) (*ServiceControlPolicyShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceControlPolicyShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/service-control-policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceControlPolicySetRequest == nil {
		return localVarReturnValue, nil, reportError("serviceControlPolicySetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.serviceControlPolicySetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest struct {
	ctx context.Context
	ApiService *OrganizationV1ServiceControlPoliciesAPIsAPIService
	policyId string
	organizationId *string
}

// Organization ID
func (r OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest) OrganizationId(organizationId string) OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest {
	r.organizationId = &organizationId
	return r
}

func (r OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest) Execute() (*ServiceControlPolicyShowResponse, *http.Response, error) {
	return r.ApiService.ShowServiceControlPolicyExecute(r)
}

/*
ShowServiceControlPolicy ShowServiceControlPolicy

show a specific service control policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId Service Control Policy ID
 @return OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest
*/
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) ShowServiceControlPolicy(ctx context.Context, policyId string) OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest {
	return OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return ServiceControlPolicyShowResponse
func (a *OrganizationV1ServiceControlPoliciesAPIsAPIService) ShowServiceControlPolicyExecute(r OrganizationV1ServiceControlPoliciesAPIsAPIShowServiceControlPolicyRequest) (*ServiceControlPolicyShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceControlPolicyShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/service-control-policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.2"
	version := "v1.2"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
