/*
OSSCP SCP Organization Service

OSSCP SCP Organization Service

API version: 0.0.1.dev54
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package organization

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OrganizationV1AccountsAPIsAPIService OrganizationV1AccountsAPIsAPI service
type OrganizationV1AccountsAPIsAPIService service

type OrganizationV1AccountsAPIsAPICreateAccountRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AccountsAPIsAPIService
	organizationUserCreateRequest *OrganizationUserCreateRequest
}

func (r OrganizationV1AccountsAPIsAPICreateAccountRequest) OrganizationUserCreateRequest(organizationUserCreateRequest OrganizationUserCreateRequest) OrganizationV1AccountsAPIsAPICreateAccountRequest {
	r.organizationUserCreateRequest = &organizationUserCreateRequest
	return r
}

func (r OrganizationV1AccountsAPIsAPICreateAccountRequest) Execute() (*AccountCreateResponse, *http.Response, error) {
	return r.ApiService.CreateAccountExecute(r)
}

/*
CreateAccount CreateAccount

create a account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AccountsAPIsAPICreateAccountRequest
*/
func (a *OrganizationV1AccountsAPIsAPIService) CreateAccount(ctx context.Context) OrganizationV1AccountsAPIsAPICreateAccountRequest {
	return OrganizationV1AccountsAPIsAPICreateAccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountCreateResponse
func (a *OrganizationV1AccountsAPIsAPIService) CreateAccountExecute(r OrganizationV1AccountsAPIsAPICreateAccountRequest) (*AccountCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountCreateResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organization-accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationUserCreateRequest == nil {
		return localVarReturnValue, nil, reportError("organizationUserCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationUserCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AccountsAPIsAPIListAccountsRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AccountsAPIsAPIService
	organizationId *string
	size *int32
	page *int32
	sort *string
	id *string
	name *string
	email *string
	loginId *string
	joinedStartDate *string
	joinedEndDate *string
	joinedMethod *JoinedMethodEnum
	excludePolicyId *string
	parentUnitId *string
	parentUnitName *string
	type_ *OrganizationAccountTypeEnum
}

// Organization ID
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) OrganizationId(organizationId string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.organizationId = &organizationId
	return r
}

// size
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Size(size int32) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.size = &size
	return r
}

// page
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Page(page int32) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.page = &page
	return r
}

// sort
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Sort(sort string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.sort = &sort
	return r
}

// Organization Account ID
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Id(id string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.id = &id
	return r
}

// Account Name
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Name(name string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.name = &name
	return r
}

// Account Email
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Email(email string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.email = &email
	return r
}

// Login ID
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) LoginId(loginId string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.loginId = &loginId
	return r
}

// Joined Start Datetime
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) JoinedStartDate(joinedStartDate string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.joinedStartDate = &joinedStartDate
	return r
}

// Joined End Datetime
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) JoinedEndDate(joinedEndDate string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.joinedEndDate = &joinedEndDate
	return r
}

// Joined Method
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) JoinedMethod(joinedMethod JoinedMethodEnum) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.joinedMethod = &joinedMethod
	return r
}

// Policy ID to Exclude
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) ExcludePolicyId(excludePolicyId string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.excludePolicyId = &excludePolicyId
	return r
}

// Root or Parent Organization Unit ID
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) ParentUnitId(parentUnitId string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.parentUnitId = &parentUnitId
	return r
}

// Root or Parent Organization Unit Name
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) ParentUnitName(parentUnitName string) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.parentUnitName = &parentUnitName
	return r
}

// Account Type
func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Type_(type_ OrganizationAccountTypeEnum) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	r.type_ = &type_
	return r
}

func (r OrganizationV1AccountsAPIsAPIListAccountsRequest) Execute() (*AccountPageResponse, *http.Response, error) {
	return r.ApiService.ListAccountsExecute(r)
}

/*
ListAccounts ListAccounts

get accounts list

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AccountsAPIsAPIListAccountsRequest
*/
func (a *OrganizationV1AccountsAPIsAPIService) ListAccounts(ctx context.Context) OrganizationV1AccountsAPIsAPIListAccountsRequest {
	return OrganizationV1AccountsAPIsAPIListAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountPageResponse
func (a *OrganizationV1AccountsAPIsAPIService) ListAccountsExecute(r OrganizationV1AccountsAPIsAPIListAccountsRequest) (*AccountPageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountPageResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organization-accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
    }
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
    }
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
    }
	if r.loginId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "login_id", r.loginId, "form", "")
    }
	if r.joinedStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "joined_start_date", r.joinedStartDate, "form", "")
    }
	if r.joinedEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "joined_end_date", r.joinedEndDate, "form", "")
    }
	if r.joinedMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "joined_method", r.joinedMethod, "form", "")
    }
	if r.excludePolicyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_policy_id", r.excludePolicyId, "form", "")
    }
	if r.parentUnitId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_unit_id", r.parentUnitId, "form", "")
    }
	if r.parentUnitName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_unit_name", r.parentUnitName, "form", "")
    }
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AccountsAPIsAPIMoveAccountRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AccountsAPIsAPIService
	moveAccountRequest *MoveAccountRequest
}

func (r OrganizationV1AccountsAPIsAPIMoveAccountRequest) MoveAccountRequest(moveAccountRequest MoveAccountRequest) OrganizationV1AccountsAPIsAPIMoveAccountRequest {
	r.moveAccountRequest = &moveAccountRequest
	return r
}

func (r OrganizationV1AccountsAPIsAPIMoveAccountRequest) Execute() (*AccountMoveResponse, *http.Response, error) {
	return r.ApiService.MoveAccountExecute(r)
}

/*
MoveAccount MoveAccount

move a specific account to a different OU

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AccountsAPIsAPIMoveAccountRequest
*/
func (a *OrganizationV1AccountsAPIsAPIService) MoveAccount(ctx context.Context) OrganizationV1AccountsAPIsAPIMoveAccountRequest {
	return OrganizationV1AccountsAPIsAPIMoveAccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountMoveResponse
func (a *OrganizationV1AccountsAPIsAPIService) MoveAccountExecute(r OrganizationV1AccountsAPIsAPIMoveAccountRequest) (*AccountMoveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountMoveResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organization-accounts/parent"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.moveAccountRequest == nil {
		return localVarReturnValue, nil, reportError("moveAccountRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.moveAccountRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AccountsAPIsAPIRemoveAccountsRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AccountsAPIsAPIService
	removeAccountsRequest *RemoveAccountsRequest
}

func (r OrganizationV1AccountsAPIsAPIRemoveAccountsRequest) RemoveAccountsRequest(removeAccountsRequest RemoveAccountsRequest) OrganizationV1AccountsAPIsAPIRemoveAccountsRequest {
	r.removeAccountsRequest = &removeAccountsRequest
	return r
}

func (r OrganizationV1AccountsAPIsAPIRemoveAccountsRequest) Execute() (*AccountRemoveResponse, *http.Response, error) {
	return r.ApiService.RemoveAccountsExecute(r)
}

/*
RemoveAccounts RemoveAccounts

Remove accounts from organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AccountsAPIsAPIRemoveAccountsRequest
*/
func (a *OrganizationV1AccountsAPIsAPIService) RemoveAccounts(ctx context.Context) OrganizationV1AccountsAPIsAPIRemoveAccountsRequest {
	return OrganizationV1AccountsAPIsAPIRemoveAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountRemoveResponse
func (a *OrganizationV1AccountsAPIsAPIService) RemoveAccountsExecute(r OrganizationV1AccountsAPIsAPIRemoveAccountsRequest) (*AccountRemoveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountRemoveResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organization-accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.removeAccountsRequest == nil {
		return localVarReturnValue, nil, reportError("removeAccountsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.removeAccountsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AccountsAPIsAPIShowAccountRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AccountsAPIsAPIService
	accountId string
	organizationId *string
	lazyPolicy *bool
}

// Organization ID
func (r OrganizationV1AccountsAPIsAPIShowAccountRequest) OrganizationId(organizationId string) OrganizationV1AccountsAPIsAPIShowAccountRequest {
	r.organizationId = &organizationId
	return r
}

// Linked Policy Query YN
func (r OrganizationV1AccountsAPIsAPIShowAccountRequest) LazyPolicy(lazyPolicy bool) OrganizationV1AccountsAPIsAPIShowAccountRequest {
	r.lazyPolicy = &lazyPolicy
	return r
}

func (r OrganizationV1AccountsAPIsAPIShowAccountRequest) Execute() (*AccountShowResponse, *http.Response, error) {
	return r.ApiService.ShowAccountExecute(r)
}

/*
ShowAccount ShowAccount

show a specific account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Organization Account ID
 @return OrganizationV1AccountsAPIsAPIShowAccountRequest
*/
func (a *OrganizationV1AccountsAPIsAPIService) ShowAccount(ctx context.Context, accountId string) OrganizationV1AccountsAPIsAPIShowAccountRequest {
	return OrganizationV1AccountsAPIsAPIShowAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return AccountShowResponse
func (a *OrganizationV1AccountsAPIsAPIService) ShowAccountExecute(r OrganizationV1AccountsAPIsAPIShowAccountRequest) (*AccountShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organization-accounts/{account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
    }
	if r.lazyPolicy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lazy_policy", r.lazyPolicy, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
