/*
OSSCP SCP Organization Service

OSSCP SCP Organization Service

API version: 0.0.1.dev54
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package organization

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
)


// OrganizationV1AssignmentsAPIsAPIService OrganizationV1AssignmentsAPIsAPI service
type OrganizationV1AssignmentsAPIsAPIService service

type OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AssignmentsAPIsAPIService
	policyAttachRequest *PolicyAttachRequest
}

func (r OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest) PolicyAttachRequest(policyAttachRequest PolicyAttachRequest) OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest {
	r.policyAttachRequest = &policyAttachRequest
	return r
}

func (r OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest) Execute() (*ControlPolicyAssignmentResponse, *http.Response, error) {
	return r.ApiService.AttachPolicyBindingsExecute(r)
}

/*
AttachPolicyBindings AttachPolicyBindings

attach policy bindings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest
*/
func (a *OrganizationV1AssignmentsAPIsAPIService) AttachPolicyBindings(ctx context.Context) OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest {
	return OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ControlPolicyAssignmentResponse
func (a *OrganizationV1AssignmentsAPIsAPIService) AttachPolicyBindingsExecute(r OrganizationV1AssignmentsAPIsAPIAttachPolicyBindingsRequest) (*ControlPolicyAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControlPolicyAssignmentResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/assignments/policy-bindings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyAttachRequest == nil {
		return localVarReturnValue, nil, reportError("policyAttachRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policyAttachRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AssignmentsAPIsAPIService
	targetId *string
	organizationId *string
	size *int32
	page *int32
	sort *string
	policyCategory *PolicyCategoryEnum
	name *string
}

// Target ID
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) TargetId(targetId string) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.targetId = &targetId
	return r
}

// Organization ID
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) OrganizationId(organizationId string) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.organizationId = &organizationId
	return r
}

// size
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) Size(size int32) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.size = &size
	return r
}

// page
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) Page(page int32) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.page = &page
	return r
}

// sort
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) Sort(sort string) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.sort = &sort
	return r
}

// Policy Category
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) PolicyCategory(policyCategory PolicyCategoryEnum) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.policyCategory = &policyCategory
	return r
}

// Control Policy Name
func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) Name(name string) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	r.name = &name
	return r
}

func (r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) Execute() (*ListPoliciesForTargetResponse, *http.Response, error) {
	return r.ApiService.ListPoliciesForTargetExecute(r)
}

/*
ListPoliciesForTarget ListPoliciesForTarget

list policies for target

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest
*/
func (a *OrganizationV1AssignmentsAPIsAPIService) ListPoliciesForTarget(ctx context.Context) OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest {
	return OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListPoliciesForTargetResponse
func (a *OrganizationV1AssignmentsAPIsAPIService) ListPoliciesForTargetExecute(r OrganizationV1AssignmentsAPIsAPIListPoliciesForTargetRequest) (*ListPoliciesForTargetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListPoliciesForTargetResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/assignments/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.targetId == nil {
		return localVarReturnValue, nil, reportError("targetId is required and must be specified")
	}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
    }
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	parameterAddToHeaderOrQuery(localVarQueryParams, "target_id", r.targetId, "form", "")
	if r.policyCategory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_category", r.policyCategory, "form", "")
    }
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AssignmentsAPIsAPIService
	policyId *string
	targetType *AssignmentTargetType
	organizationId *string
	size *int32
	page *int32
	sort *string
	policyCategory *PolicyCategoryEnum
	name *string
}

// Control Policy ID
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) PolicyId(policyId string) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.policyId = &policyId
	return r
}

// Target Type
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) TargetType(targetType AssignmentTargetType) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.targetType = &targetType
	return r
}

// Organization ID
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) OrganizationId(organizationId string) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.organizationId = &organizationId
	return r
}

// size
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) Size(size int32) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.size = &size
	return r
}

// page
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) Page(page int32) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.page = &page
	return r
}

// sort
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) Sort(sort string) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.sort = &sort
	return r
}

// Policy Category
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) PolicyCategory(policyCategory PolicyCategoryEnum) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.policyCategory = &policyCategory
	return r
}

// Target Name
func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) Name(name string) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	r.name = &name
	return r
}

func (r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) Execute() (*ListTargetsForPolicyResponse, *http.Response, error) {
	return r.ApiService.ListTargetsForPolicyExecute(r)
}

/*
ListTargetsForPolicy ListTargetsForPolicy

list targets for policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest
*/
func (a *OrganizationV1AssignmentsAPIsAPIService) ListTargetsForPolicy(ctx context.Context) OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest {
	return OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListTargetsForPolicyResponse
func (a *OrganizationV1AssignmentsAPIsAPIService) ListTargetsForPolicyExecute(r OrganizationV1AssignmentsAPIsAPIListTargetsForPolicyRequest) (*ListTargetsForPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListTargetsForPolicyResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/assignments/targets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyId == nil {
		return localVarReturnValue, nil, reportError("policyId is required and must be specified")
	}
	if r.targetType == nil {
		return localVarReturnValue, nil, reportError("targetType is required and must be specified")
	}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
    }
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "form", "")
	if r.policyCategory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_category", r.policyCategory, "form", "")
    }
	parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest struct {
	ctx context.Context
	ApiService *OrganizationV1AssignmentsAPIsAPIService
	policyRemoveRequest *PolicyRemoveRequest
}

func (r OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest) PolicyRemoveRequest(policyRemoveRequest PolicyRemoveRequest) OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest {
	r.policyRemoveRequest = &policyRemoveRequest
	return r
}

func (r OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest) Execute() (*ControlPolicyAssignmentResponse, *http.Response, error) {
	return r.ApiService.RemovePolicyBindingsExecute(r)
}

/*
RemovePolicyBindings RemovePolicyBindings

remove policy bindings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest
*/
func (a *OrganizationV1AssignmentsAPIsAPIService) RemovePolicyBindings(ctx context.Context) OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest {
	return OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ControlPolicyAssignmentResponse
func (a *OrganizationV1AssignmentsAPIsAPIService) RemovePolicyBindingsExecute(r OrganizationV1AssignmentsAPIsAPIRemovePolicyBindingsRequest) (*ControlPolicyAssignmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControlPolicyAssignmentResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/assignments/policy-bindings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyRemoveRequest == nil {
		return localVarReturnValue, nil, reportError("policyRemoveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policyRemoveRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
