/*
OSSCP SCP Organization Service

OSSCP SCP Organization Service

API version: 0.0.1.dev54
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package organization

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OrganizationV1OrganizationsAPIsAPIService OrganizationV1OrganizationsAPIsAPI service
type OrganizationV1OrganizationsAPIsAPIService service

type OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest struct {
	ctx context.Context
	ApiService *OrganizationV1OrganizationsAPIsAPIService
	organizationCreateRequest *OrganizationCreateRequest
}

func (r OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest) OrganizationCreateRequest(organizationCreateRequest OrganizationCreateRequest) OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest {
	r.organizationCreateRequest = &organizationCreateRequest
	return r
}

func (r OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest) Execute() (*OrganizationShowResponse, *http.Response, error) {
	return r.ApiService.CreateOrganizationExecute(r)
}

/*
CreateOrganization CreateOrganization

create a organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest
*/
func (a *OrganizationV1OrganizationsAPIsAPIService) CreateOrganization(ctx context.Context) OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest {
	return OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OrganizationShowResponse
func (a *OrganizationV1OrganizationsAPIsAPIService) CreateOrganizationExecute(r OrganizationV1OrganizationsAPIsAPICreateOrganizationRequest) (*OrganizationShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organizations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationCreateRequest == nil {
		return localVarReturnValue, nil, reportError("organizationCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1OrganizationsAPIsAPIDeleteOrganizationRequest struct {
	ctx context.Context
	ApiService *OrganizationV1OrganizationsAPIsAPIService
	organizationId string
}

func (r OrganizationV1OrganizationsAPIsAPIDeleteOrganizationRequest) Execute() (*OrganizationDeleteResponse, *http.Response, error) {
	return r.ApiService.DeleteOrganizationExecute(r)
}

/*
DeleteOrganization DeleteOrganization

delete a specific organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return OrganizationV1OrganizationsAPIsAPIDeleteOrganizationRequest
*/
func (a *OrganizationV1OrganizationsAPIsAPIService) DeleteOrganization(ctx context.Context, organizationId string) OrganizationV1OrganizationsAPIsAPIDeleteOrganizationRequest {
	return OrganizationV1OrganizationsAPIsAPIDeleteOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return OrganizationDeleteResponse
func (a *OrganizationV1OrganizationsAPIsAPIService) DeleteOrganizationExecute(r OrganizationV1OrganizationsAPIsAPIDeleteOrganizationRequest) (*OrganizationDeleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationDeleteResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organizations/{organization_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1OrganizationsAPIsAPILeaveOrganizationRequest struct {
	ctx context.Context
	ApiService *OrganizationV1OrganizationsAPIsAPIService
	organizationId string
}

func (r OrganizationV1OrganizationsAPIsAPILeaveOrganizationRequest) Execute() (*OrganizationLeaveResponse, *http.Response, error) {
	return r.ApiService.LeaveOrganizationExecute(r)
}

/*
LeaveOrganization LeaveOrganization

leave a specific organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return OrganizationV1OrganizationsAPIsAPILeaveOrganizationRequest
*/
func (a *OrganizationV1OrganizationsAPIsAPIService) LeaveOrganization(ctx context.Context, organizationId string) OrganizationV1OrganizationsAPIsAPILeaveOrganizationRequest {
	return OrganizationV1OrganizationsAPIsAPILeaveOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return OrganizationLeaveResponse
func (a *OrganizationV1OrganizationsAPIsAPIService) LeaveOrganizationExecute(r OrganizationV1OrganizationsAPIsAPILeaveOrganizationRequest) (*OrganizationLeaveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationLeaveResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organizations/{organization_id}/membership"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest struct {
	ctx context.Context
	ApiService *OrganizationV1OrganizationsAPIsAPIService
	organizationId *string
	size *int32
	page *int32
	sort *string
	name *string
	masterAccountId *string
}

// Organization ID
func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) OrganizationId(organizationId string) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	r.organizationId = &organizationId
	return r
}

// size
func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) Size(size int32) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	r.size = &size
	return r
}

// page
func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) Page(page int32) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	r.page = &page
	return r
}

// sort
func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) Sort(sort string) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	r.sort = &sort
	return r
}

// Organization Name
func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) Name(name string) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	r.name = &name
	return r
}

// Organization Account ID
func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) MasterAccountId(masterAccountId string) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	r.masterAccountId = &masterAccountId
	return r
}

func (r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) Execute() (*OrganizationPageResponse, *http.Response, error) {
	return r.ApiService.ListOrganizationsExecute(r)
}

/*
ListOrganizations ListOrganizations

get organizations list

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest
*/
func (a *OrganizationV1OrganizationsAPIsAPIService) ListOrganizations(ctx context.Context) OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest {
	return OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OrganizationPageResponse
func (a *OrganizationV1OrganizationsAPIsAPIService) ListOrganizationsExecute(r OrganizationV1OrganizationsAPIsAPIListOrganizationsRequest) (*OrganizationPageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationPageResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organizations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
    }
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	if r.masterAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "master_account_id", r.masterAccountId, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1OrganizationsAPIsAPISetOrganizationRequest struct {
	ctx context.Context
	ApiService *OrganizationV1OrganizationsAPIsAPIService
	organizationId string
	organizationSetRequest *OrganizationSetRequest
}

func (r OrganizationV1OrganizationsAPIsAPISetOrganizationRequest) OrganizationSetRequest(organizationSetRequest OrganizationSetRequest) OrganizationV1OrganizationsAPIsAPISetOrganizationRequest {
	r.organizationSetRequest = &organizationSetRequest
	return r
}

func (r OrganizationV1OrganizationsAPIsAPISetOrganizationRequest) Execute() (*OrganizationShowResponse, *http.Response, error) {
	return r.ApiService.SetOrganizationExecute(r)
}

/*
SetOrganization SetOrganization

set a specific organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return OrganizationV1OrganizationsAPIsAPISetOrganizationRequest
*/
func (a *OrganizationV1OrganizationsAPIsAPIService) SetOrganization(ctx context.Context, organizationId string) OrganizationV1OrganizationsAPIsAPISetOrganizationRequest {
	return OrganizationV1OrganizationsAPIsAPISetOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return OrganizationShowResponse
func (a *OrganizationV1OrganizationsAPIsAPIService) SetOrganizationExecute(r OrganizationV1OrganizationsAPIsAPISetOrganizationRequest) (*OrganizationShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organizations/{organization_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationSetRequest == nil {
		return localVarReturnValue, nil, reportError("organizationSetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationSetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganizationV1OrganizationsAPIsAPIShowOrganizationRequest struct {
	ctx context.Context
	ApiService *OrganizationV1OrganizationsAPIsAPIService
	organizationId string
}

func (r OrganizationV1OrganizationsAPIsAPIShowOrganizationRequest) Execute() (*OrganizationShowResponse, *http.Response, error) {
	return r.ApiService.ShowOrganizationExecute(r)
}

/*
ShowOrganization ShowOrganization

show a specific organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return OrganizationV1OrganizationsAPIsAPIShowOrganizationRequest
*/
func (a *OrganizationV1OrganizationsAPIsAPIService) ShowOrganization(ctx context.Context, organizationId string) OrganizationV1OrganizationsAPIsAPIShowOrganizationRequest {
	return OrganizationV1OrganizationsAPIsAPIShowOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return OrganizationShowResponse
func (a *OrganizationV1OrganizationsAPIsAPIService) ShowOrganizationExecute(r OrganizationV1OrganizationsAPIsAPIShowOrganizationRequest) (*OrganizationShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/organizations/{organization_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "organization 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "organization")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
