/*
Nuri Monitoring service

Nuri Monitoring service

API version: Nuri
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloudmonitoring

import (
	"bytes"
	"context"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"reflect"
)

// OpenAPIMetricV2APIService OpenAPIMetricV2API service
type OpenAPIMetricV2APIService service

type OpenAPIMetricV2APIGetMetricListRequest struct {
	ctx             context.Context
	ApiService      *OpenAPIMetricV2APIService
	productTypeCode *string
	objectType      *string
	page            *int32
	size            *int32
	sort            *[]string
}

// Product type code - Product type codes can be obtained using @[ListServiceMonitoring]. If not specified, the entire metric list will be retrieved.
func (r OpenAPIMetricV2APIGetMetricListRequest) ProductTypeCode(productTypeCode string) OpenAPIMetricV2APIGetMetricListRequest {
	r.productTypeCode = &productTypeCode
	return r
}

// Object Type - Only available for services that have subtypes, such as when the &#39;productTypeCode&#39; is &#39;Kubernetes&#39; or &#39;Load Balancer&#39;.
func (r OpenAPIMetricV2APIGetMetricListRequest) ObjectType(objectType string) OpenAPIMetricV2APIGetMetricListRequest {
	r.objectType = &objectType
	return r
}

// Page Number (default: 0)
func (r OpenAPIMetricV2APIGetMetricListRequest) Page(page int32) OpenAPIMetricV2APIGetMetricListRequest {
	r.page = &page
	return r
}

// Page Contents Size (default: 10)
func (r OpenAPIMetricV2APIGetMetricListRequest) Size(size int32) OpenAPIMetricV2APIGetMetricListRequest {
	r.size = &size
	return r
}

// Sorting Field List
func (r OpenAPIMetricV2APIGetMetricListRequest) Sort(sort []string) OpenAPIMetricV2APIGetMetricListRequest {
	r.sort = &sort
	return r
}

func (r OpenAPIMetricV2APIGetMetricListRequest) Execute() (*PageResponseMetricInfoDto, *http.Response, error) {
	return r.ApiService.GetMetricListExecute(r)
}

/*
GetMetricList ListMetrics

View the list of metrics provided by Monitoring. You can view the full list of metrics or the list of metrics for each service type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return OpenAPIMetricV2APIGetMetricListRequest
*/
func (a *OpenAPIMetricV2APIService) GetMetricList(ctx context.Context) OpenAPIMetricV2APIGetMetricListRequest {
	return OpenAPIMetricV2APIGetMetricListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PageResponseMetricInfoDto
func (a *OpenAPIMetricV2APIService) GetMetricListExecute(r OpenAPIMetricV2APIGetMetricListRequest) (*PageResponseMetricInfoDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PageResponseMetricInfoDto
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/cloudmonitorings/product/v2/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.productTypeCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productTypeCode", r.productTypeCode, "form", "")
	}
	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectType", r.objectType, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
