/*
SCP Compute Service

SCP Compute Service

API version: 1.3.0.0rc2.dev1323
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package virtualserver

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VirtualserverV1AutoScalingGroupPoliciesAPIService VirtualserverV1AutoScalingGroupPoliciesAPI service
type VirtualserverV1AutoScalingGroupPoliciesAPIService service

type VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest struct {
	ctx context.Context
	ApiService *VirtualserverV1AutoScalingGroupPoliciesAPIService
	autoScalingGroupId string
	autoScalingGroupPolicyCreateRequest *AutoScalingGroupPolicyCreateRequest
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest) AutoScalingGroupPolicyCreateRequest(autoScalingGroupPolicyCreateRequest AutoScalingGroupPolicyCreateRequest) VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest {
	r.autoScalingGroupPolicyCreateRequest = &autoScalingGroupPolicyCreateRequest
	return r
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest) Execute() (*AutoScalingGroupPolicyShowResponse, *http.Response, error) {
	return r.ApiService.CreateAutoScalingGroupPolicyExecute(r)
}

/*
CreateAutoScalingGroupPolicy Create Auto-Scaling Group Policy

Create Auto-Scaling Group policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param autoScalingGroupId Auto-Scaling Group ID
 @return VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest
*/
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) CreateAutoScalingGroupPolicy(ctx context.Context, autoScalingGroupId string) VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest {
	return VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		autoScalingGroupId: autoScalingGroupId,
	}
}

// Execute executes the request
//  @return AutoScalingGroupPolicyShowResponse
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) CreateAutoScalingGroupPolicyExecute(r VirtualserverV1AutoScalingGroupPoliciesAPICreateAutoScalingGroupPolicyRequest) (*AutoScalingGroupPolicyShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoScalingGroupPolicyShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/auto-scaling-groups/{auto_scaling_group_id}/policies"
	localVarPath = strings.Replace(localVarPath, "{"+"auto_scaling_group_id"+"}", url.PathEscape(parameterValueToString(r.autoScalingGroupId, "autoScalingGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoScalingGroupPolicyCreateRequest == nil {
		return localVarReturnValue, nil, reportError("autoScalingGroupPolicyCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "virtualserver 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "virtualserver")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoScalingGroupPolicyCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VirtualserverV1AutoScalingGroupPoliciesAPIDeleteAutoScalingGroupPolicyRequest struct {
	ctx context.Context
	ApiService *VirtualserverV1AutoScalingGroupPoliciesAPIService
	autoScalingGroupId string
	policyId string
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPIDeleteAutoScalingGroupPolicyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAutoScalingGroupPolicyExecute(r)
}

/*
DeleteAutoScalingGroupPolicy Delete Auto-Scaling Group Policy

Delete Auto-Scaling Group policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param autoScalingGroupId Auto-Scaling Group ID
 @param policyId Policy ID
 @return VirtualserverV1AutoScalingGroupPoliciesAPIDeleteAutoScalingGroupPolicyRequest
*/
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) DeleteAutoScalingGroupPolicy(ctx context.Context, autoScalingGroupId string, policyId string) VirtualserverV1AutoScalingGroupPoliciesAPIDeleteAutoScalingGroupPolicyRequest {
	return VirtualserverV1AutoScalingGroupPoliciesAPIDeleteAutoScalingGroupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		autoScalingGroupId: autoScalingGroupId,
		policyId: policyId,
	}
}

// Execute executes the request
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) DeleteAutoScalingGroupPolicyExecute(r VirtualserverV1AutoScalingGroupPoliciesAPIDeleteAutoScalingGroupPolicyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/auto-scaling-groups/{auto_scaling_group_id}/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"auto_scaling_group_id"+"}", url.PathEscape(parameterValueToString(r.autoScalingGroupId, "autoScalingGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "virtualserver 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "virtualserver")
	if err != nil {
		return  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest struct {
	ctx context.Context
	ApiService *VirtualserverV1AutoScalingGroupPoliciesAPIService
	autoScalingGroupId string
	name *string
	metricMethod *AutoScalingGroupPolicyMetricMethod
	metricType *string
	scaleType *AutoScalingGroupPolicyScaleType
	offset *int32
	limit *int32
	sort *string
}

// Policy name
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) Name(name string) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.name = &name
	return r
}

// Metric method
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) MetricMethod(metricMethod AutoScalingGroupPolicyMetricMethod) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.metricMethod = &metricMethod
	return r
}

// Metric type
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) MetricType(metricType string) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.metricType = &metricType
	return r
}

// Scale type
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) ScaleType(scaleType AutoScalingGroupPolicyScaleType) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.scaleType = &scaleType
	return r
}

// Index of where to start in the list
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) Offset(offset int32) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.offset = &offset
	return r
}

// Page size of items
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) Limit(limit int32) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.limit = &limit
	return r
}

// Comma-separated list of sort keys and optional sort directions in the form of &lt;key&gt;[:&lt;direction&gt;]
func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) Sort(sort string) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	r.sort = &sort
	return r
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) Execute() (*AutoScalingGroupPolicyListResponse, *http.Response, error) {
	return r.ApiService.ListAutoScalingGroupPoliciesExecute(r)
}

/*
ListAutoScalingGroupPolicies List Auto-Scaling Group Policies

List Auto-Scaling Group policies.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param autoScalingGroupId Auto-Scaling Group ID
 @return VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest
*/
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) ListAutoScalingGroupPolicies(ctx context.Context, autoScalingGroupId string) VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest {
	return VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		autoScalingGroupId: autoScalingGroupId,
	}
}

// Execute executes the request
//  @return AutoScalingGroupPolicyListResponse
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) ListAutoScalingGroupPoliciesExecute(r VirtualserverV1AutoScalingGroupPoliciesAPIListAutoScalingGroupPoliciesRequest) (*AutoScalingGroupPolicyListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoScalingGroupPolicyListResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/auto-scaling-groups/{auto_scaling_group_id}/policies"
	localVarPath = strings.Replace(localVarPath, "{"+"auto_scaling_group_id"+"}", url.PathEscape(parameterValueToString(r.autoScalingGroupId, "autoScalingGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	if r.metricMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric_method", r.metricMethod, "form", "")
    }
	if r.metricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric_type", r.metricType, "form", "")
    }
	if r.scaleType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scale_type", r.scaleType, "form", "")
    }
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
    }
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "virtualserver 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "virtualserver")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VirtualserverV1AutoScalingGroupPoliciesAPIShowAutoScalingGroupPolicyRequest struct {
	ctx context.Context
	ApiService *VirtualserverV1AutoScalingGroupPoliciesAPIService
	autoScalingGroupId string
	policyId string
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPIShowAutoScalingGroupPolicyRequest) Execute() (*AutoScalingGroupPolicyShowResponse, *http.Response, error) {
	return r.ApiService.ShowAutoScalingGroupPolicyExecute(r)
}

/*
ShowAutoScalingGroupPolicy Show Auto-Scaling Group Policy

Show Auto-Scaling Group policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param autoScalingGroupId Auto-Scaling Group ID
 @param policyId Policy ID
 @return VirtualserverV1AutoScalingGroupPoliciesAPIShowAutoScalingGroupPolicyRequest
*/
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) ShowAutoScalingGroupPolicy(ctx context.Context, autoScalingGroupId string, policyId string) VirtualserverV1AutoScalingGroupPoliciesAPIShowAutoScalingGroupPolicyRequest {
	return VirtualserverV1AutoScalingGroupPoliciesAPIShowAutoScalingGroupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		autoScalingGroupId: autoScalingGroupId,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return AutoScalingGroupPolicyShowResponse
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) ShowAutoScalingGroupPolicyExecute(r VirtualserverV1AutoScalingGroupPoliciesAPIShowAutoScalingGroupPolicyRequest) (*AutoScalingGroupPolicyShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoScalingGroupPolicyShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/auto-scaling-groups/{auto_scaling_group_id}/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"auto_scaling_group_id"+"}", url.PathEscape(parameterValueToString(r.autoScalingGroupId, "autoScalingGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "virtualserver 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "virtualserver")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest struct {
	ctx context.Context
	ApiService *VirtualserverV1AutoScalingGroupPoliciesAPIService
	autoScalingGroupId string
	policyId string
	autoScalingGroupPolicyUpdateRequestV1Dot2 *AutoScalingGroupPolicyUpdateRequestV1Dot2
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest) AutoScalingGroupPolicyUpdateRequestV1Dot2(autoScalingGroupPolicyUpdateRequestV1Dot2 AutoScalingGroupPolicyUpdateRequestV1Dot2) VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest {
	r.autoScalingGroupPolicyUpdateRequestV1Dot2 = &autoScalingGroupPolicyUpdateRequestV1Dot2
	return r
}

func (r VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest) Execute() (*AutoScalingGroupPolicyShowResponse, *http.Response, error) {
	return r.ApiService.UpdateAutoScalingGroupPolicyExecute(r)
}

/*
UpdateAutoScalingGroupPolicy Update Auto-Scaling Group Policy

Update Auto-Scaling Group policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param autoScalingGroupId Auto-Scaling Group ID
 @param policyId Policy ID
 @return VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest
*/
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) UpdateAutoScalingGroupPolicy(ctx context.Context, autoScalingGroupId string, policyId string) VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest {
	return VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		autoScalingGroupId: autoScalingGroupId,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return AutoScalingGroupPolicyShowResponse
func (a *VirtualserverV1AutoScalingGroupPoliciesAPIService) UpdateAutoScalingGroupPolicyExecute(r VirtualserverV1AutoScalingGroupPoliciesAPIUpdateAutoScalingGroupPolicyRequest) (*AutoScalingGroupPolicyShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoScalingGroupPolicyShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/auto-scaling-groups/{auto_scaling_group_id}/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"auto_scaling_group_id"+"}", url.PathEscape(parameterValueToString(r.autoScalingGroupId, "autoScalingGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoScalingGroupPolicyUpdateRequestV1Dot2 == nil {
		return localVarReturnValue, nil, reportError("autoScalingGroupPolicyUpdateRequestV1Dot2 is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "virtualserver 1.3"
	version := "v1.3"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "virtualserver")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoScalingGroupPolicyUpdateRequestV1Dot2
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
