/*
SCP Network Service

SCP Network Service

API version: 1.4.0.0rc1.dev551
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vpc

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// VpcV1PrivateLinkEndpointApiAPIService VpcV1PrivateLinkEndpointApiAPI service
type VpcV1PrivateLinkEndpointApiAPIService service

type VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest struct {
	ctx                                context.Context
	ApiService                         *VpcV1PrivateLinkEndpointApiAPIService
	privatelinkEndpointId              string
	privateLinkEndpointApprovalRequest *PrivateLinkEndpointApprovalRequest
}

func (r VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest) PrivateLinkEndpointApprovalRequest(privateLinkEndpointApprovalRequest PrivateLinkEndpointApprovalRequest) VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest {
	r.privateLinkEndpointApprovalRequest = &privateLinkEndpointApprovalRequest
	return r
}

func (r VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest) Execute() (*PrivateLinkEndpointSummaryShowResponse, *http.Response, error) {
	return r.ApiService.ApprovePrivateLinkEndpointExecute(r)
}

/*
ApprovePrivateLinkEndpoint Approve PrivateLink Endpoint

Approve PrivateLink Endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkEndpointId PrivateLink Endpoint ID
	@return VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) ApprovePrivateLinkEndpoint(ctx context.Context, privatelinkEndpointId string) VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest{
		ApiService:            a,
		ctx:                   ctx,
		privatelinkEndpointId: privatelinkEndpointId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointSummaryShowResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) ApprovePrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPIApprovePrivateLinkEndpointRequest) (*PrivateLinkEndpointSummaryShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointSummaryShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints/{privatelink_endpoint_id}/approval"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_endpoint_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkEndpointId, "privatelinkEndpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkEndpointApprovalRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkEndpointApprovalRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkEndpointApprovalRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest struct {
	ctx                                  context.Context
	ApiService                           *VpcV1PrivateLinkEndpointApiAPIService
	privatelinkEndpointId                string
	privateLinkEndpointConnectionRequest *PrivateLinkEndpointConnectionRequest
}

func (r VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest) PrivateLinkEndpointConnectionRequest(privateLinkEndpointConnectionRequest PrivateLinkEndpointConnectionRequest) VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest {
	r.privateLinkEndpointConnectionRequest = &privateLinkEndpointConnectionRequest
	return r
}

func (r VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest) Execute() (*PrivateLinkEndpointSummaryShowResponse, *http.Response, error) {
	return r.ApiService.ConnectPrivateLinkEndpointExecute(r)
}

/*
ConnectPrivateLinkEndpoint Connect PrivateLink Endpoint

Connect PrivateLink Endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkEndpointId PrivateLink Endpoint ID
	@return VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) ConnectPrivateLinkEndpoint(ctx context.Context, privatelinkEndpointId string) VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest{
		ApiService:            a,
		ctx:                   ctx,
		privatelinkEndpointId: privatelinkEndpointId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointSummaryShowResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) ConnectPrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPIConnectPrivateLinkEndpointRequest) (*PrivateLinkEndpointSummaryShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointSummaryShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints/{privatelink_endpoint_id}/connection"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_endpoint_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkEndpointId, "privatelinkEndpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkEndpointConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkEndpointConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkEndpointConnectionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest struct {
	ctx                              context.Context
	ApiService                       *VpcV1PrivateLinkEndpointApiAPIService
	privateLinkEndpointCreateRequest *PrivateLinkEndpointCreateRequest
}

func (r VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest) PrivateLinkEndpointCreateRequest(privateLinkEndpointCreateRequest PrivateLinkEndpointCreateRequest) VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest {
	r.privateLinkEndpointCreateRequest = &privateLinkEndpointCreateRequest
	return r
}

func (r VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest) Execute() (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	return r.ApiService.CreatePrivateLinkEndpointExecute(r)
}

/*
CreatePrivateLinkEndpoint Create PrivateLink Endpoint

Create PrivateLink Endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) CreatePrivateLinkEndpoint(ctx context.Context) VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointShowResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) CreatePrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPICreatePrivateLinkEndpointRequest) (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkEndpointCreateRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkEndpointCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkEndpointCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPIDeletePrivateLinkEndpointRequest struct {
	ctx                   context.Context
	ApiService            *VpcV1PrivateLinkEndpointApiAPIService
	privatelinkEndpointId string
}

func (r VpcV1PrivateLinkEndpointApiAPIDeletePrivateLinkEndpointRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePrivateLinkEndpointExecute(r)
}

/*
DeletePrivateLinkEndpoint Delete PrivateLink Endpoint

Delete PrivateLink Endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkEndpointId PrivateLink Endpoint ID
	@return VpcV1PrivateLinkEndpointApiAPIDeletePrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) DeletePrivateLinkEndpoint(ctx context.Context, privatelinkEndpointId string) VpcV1PrivateLinkEndpointApiAPIDeletePrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPIDeletePrivateLinkEndpointRequest{
		ApiService:            a,
		ctx:                   ctx,
		privatelinkEndpointId: privatelinkEndpointId,
	}
}

// Execute executes the request
func (a *VpcV1PrivateLinkEndpointApiAPIService) DeletePrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPIDeletePrivateLinkEndpointRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints/{privatelink_endpoint_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_endpoint_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkEndpointId, "privatelinkEndpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest struct {
	ctx                  context.Context
	ApiService           *VpcV1PrivateLinkEndpointApiAPIService
	size                 *int32
	page                 *int32
	sort                 *string
	id                   *string
	name                 *string
	vpcId                *string
	subnetId             *string
	privatelinkServiceId *string
	endpointIpAddress    *string
	state                *PrivateLinkEndpointState
}

// size
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) Size(size int32) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.size = &size
	return r
}

// page
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) Page(page int32) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.page = &page
	return r
}

// sort
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) Sort(sort string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.sort = &sort
	return r
}

// PrivateLink Endpoint ID
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) Id(id string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.id = &id
	return r
}

// PrivateLink Endpoint Name
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) Name(name string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.name = &name
	return r
}

// VPC Id
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) VpcId(vpcId string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.vpcId = &vpcId
	return r
}

// Subnet Id
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) SubnetId(subnetId string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.subnetId = &subnetId
	return r
}

// PrivateLink Service ID
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) PrivatelinkServiceId(privatelinkServiceId string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.privatelinkServiceId = &privatelinkServiceId
	return r
}

// Endpoint IP Address
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) EndpointIpAddress(endpointIpAddress string) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.endpointIpAddress = &endpointIpAddress
	return r
}

// PrivateLink Endpoint State
func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) State(state PrivateLinkEndpointState) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	r.state = &state
	return r
}

func (r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) Execute() (*PrivateLinkEndpointListResponse, *http.Response, error) {
	return r.ApiService.ListPrivateLinkEndpointsExecute(r)
}

/*
ListPrivateLinkEndpoints List PrivateLink Endpoint

Get PrivateLink Endpoint List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) ListPrivateLinkEndpoints(ctx context.Context) VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest {
	return VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointListResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) ListPrivateLinkEndpointsExecute(r VpcV1PrivateLinkEndpointApiAPIListPrivateLinkEndpointsRequest) (*PrivateLinkEndpointListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.vpcId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_id", r.vpcId, "form", "")
	}
	if r.subnetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subnet_id", r.subnetId, "form", "")
	}
	if r.privatelinkServiceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "privatelink_service_id", r.privatelinkServiceId, "form", "")
	}
	if r.endpointIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint_ip_address", r.endpointIpAddress, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest struct {
	ctx                        context.Context
	ApiService                 *VpcV1PrivateLinkEndpointApiAPIService
	privatelinkEndpointId      string
	privateLinkEndpointRequest *PrivateLinkEndpointRequest
}

func (r VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest) PrivateLinkEndpointRequest(privateLinkEndpointRequest PrivateLinkEndpointRequest) VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest {
	r.privateLinkEndpointRequest = &privateLinkEndpointRequest
	return r
}

func (r VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest) Execute() (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	return r.ApiService.RequestPrivateLinkEndpointExecute(r)
}

/*
RequestPrivateLinkEndpoint Request PrivateLink Endpoint

Request PrivateLink Endpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkEndpointId PrivateLink Endpoint ID
	@return VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) RequestPrivateLinkEndpoint(ctx context.Context, privatelinkEndpointId string) VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest{
		ApiService:            a,
		ctx:                   ctx,
		privatelinkEndpointId: privatelinkEndpointId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointShowResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) RequestPrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPIRequestPrivateLinkEndpointRequest) (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints/{privatelink_endpoint_id}/request"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_endpoint_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkEndpointId, "privatelinkEndpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkEndpointRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkEndpointRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkEndpointRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest struct {
	ctx                           context.Context
	ApiService                    *VpcV1PrivateLinkEndpointApiAPIService
	privatelinkEndpointId         string
	privateLinkEndpointSetRequest *PrivateLinkEndpointSetRequest
}

func (r VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest) PrivateLinkEndpointSetRequest(privateLinkEndpointSetRequest PrivateLinkEndpointSetRequest) VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest {
	r.privateLinkEndpointSetRequest = &privateLinkEndpointSetRequest
	return r
}

func (r VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest) Execute() (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	return r.ApiService.SetPrivateLinkEndpointExecute(r)
}

/*
SetPrivateLinkEndpoint Set PrivateLink Endpoint

Set PrivateLink Endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkEndpointId PrivateLink Endpoint ID
	@return VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) SetPrivateLinkEndpoint(ctx context.Context, privatelinkEndpointId string) VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest{
		ApiService:            a,
		ctx:                   ctx,
		privatelinkEndpointId: privatelinkEndpointId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointShowResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) SetPrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPISetPrivateLinkEndpointRequest) (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints/{privatelink_endpoint_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_endpoint_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkEndpointId, "privatelinkEndpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkEndpointSetRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkEndpointSetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkEndpointSetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkEndpointApiAPIShowPrivateLinkEndpointRequest struct {
	ctx                   context.Context
	ApiService            *VpcV1PrivateLinkEndpointApiAPIService
	privatelinkEndpointId string
}

func (r VpcV1PrivateLinkEndpointApiAPIShowPrivateLinkEndpointRequest) Execute() (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	return r.ApiService.ShowPrivateLinkEndpointExecute(r)
}

/*
ShowPrivateLinkEndpoint Show PrivateLink Endpoint

Show PrivateLink Endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkEndpointId PrivateLink Endpoint ID
	@return VpcV1PrivateLinkEndpointApiAPIShowPrivateLinkEndpointRequest
*/
func (a *VpcV1PrivateLinkEndpointApiAPIService) ShowPrivateLinkEndpoint(ctx context.Context, privatelinkEndpointId string) VpcV1PrivateLinkEndpointApiAPIShowPrivateLinkEndpointRequest {
	return VpcV1PrivateLinkEndpointApiAPIShowPrivateLinkEndpointRequest{
		ApiService:            a,
		ctx:                   ctx,
		privatelinkEndpointId: privatelinkEndpointId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkEndpointShowResponse
func (a *VpcV1PrivateLinkEndpointApiAPIService) ShowPrivateLinkEndpointExecute(r VpcV1PrivateLinkEndpointApiAPIShowPrivateLinkEndpointRequest) (*PrivateLinkEndpointShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkEndpointShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-endpoints/{privatelink_endpoint_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_endpoint_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkEndpointId, "privatelinkEndpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
