/*
SCP Network Service

SCP Network Service

API version: 1.4.0.0rc1.dev551
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vpc

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// VpcV1PrivateLinkServiceApiAPIService VpcV1PrivateLinkServiceApiAPI service
type VpcV1PrivateLinkServiceApiAPIService service

type VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest struct {
	ctx                             context.Context
	ApiService                      *VpcV1PrivateLinkServiceApiAPIService
	privateLinkServiceCreateRequest *PrivateLinkServiceCreateRequest
}

func (r VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest) PrivateLinkServiceCreateRequest(privateLinkServiceCreateRequest PrivateLinkServiceCreateRequest) VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest {
	r.privateLinkServiceCreateRequest = &privateLinkServiceCreateRequest
	return r
}

func (r VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest) Execute() (*PrivateLinkServiceShowResponse, *http.Response, error) {
	return r.ApiService.CreatePrivateLinkServiceExecute(r)
}

/*
CreatePrivateLinkService Create PrivateLink Service

Create PrivateLink Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest
*/
func (a *VpcV1PrivateLinkServiceApiAPIService) CreatePrivateLinkService(ctx context.Context) VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest {
	return VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrivateLinkServiceShowResponse
func (a *VpcV1PrivateLinkServiceApiAPIService) CreatePrivateLinkServiceExecute(r VpcV1PrivateLinkServiceApiAPICreatePrivateLinkServiceRequest) (*PrivateLinkServiceShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkServiceShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkServiceCreateRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkServiceCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkServiceCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkServiceApiAPIDeletePrivateLinkServiceRequest struct {
	ctx                  context.Context
	ApiService           *VpcV1PrivateLinkServiceApiAPIService
	privatelinkServiceId string
}

func (r VpcV1PrivateLinkServiceApiAPIDeletePrivateLinkServiceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePrivateLinkServiceExecute(r)
}

/*
DeletePrivateLinkService Delete PrivateLink Service

Delete PrivateLink Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkServiceId PrivateLink Service ID
	@return VpcV1PrivateLinkServiceApiAPIDeletePrivateLinkServiceRequest
*/
func (a *VpcV1PrivateLinkServiceApiAPIService) DeletePrivateLinkService(ctx context.Context, privatelinkServiceId string) VpcV1PrivateLinkServiceApiAPIDeletePrivateLinkServiceRequest {
	return VpcV1PrivateLinkServiceApiAPIDeletePrivateLinkServiceRequest{
		ApiService:           a,
		ctx:                  ctx,
		privatelinkServiceId: privatelinkServiceId,
	}
}

// Execute executes the request
func (a *VpcV1PrivateLinkServiceApiAPIService) DeletePrivateLinkServiceExecute(r VpcV1PrivateLinkServiceApiAPIDeletePrivateLinkServiceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-services/{privatelink_service_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_service_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkServiceId, "privatelinkServiceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest struct {
	ctx                  context.Context
	ApiService           *VpcV1PrivateLinkServiceApiAPIService
	privatelinkServiceId string
	size                 *int32
	page                 *int32
	sort                 *string
}

// size
func (r VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest) Size(size int32) VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest {
	r.size = &size
	return r
}

// page
func (r VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest) Page(page int32) VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest {
	r.page = &page
	return r
}

// sort
func (r VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest) Sort(sort string) VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest {
	r.sort = &sort
	return r
}

func (r VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest) Execute() (*ConnectedEndpointListResponse, *http.Response, error) {
	return r.ApiService.ListConnectedPrivateLinkEndpointsExecute(r)
}

/*
ListConnectedPrivateLinkEndpoints List Connected PrivateLink Endpoints

Get Connected PrivateLink Endpoint List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkServiceId PrivateLink Service ID
	@return VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest
*/
func (a *VpcV1PrivateLinkServiceApiAPIService) ListConnectedPrivateLinkEndpoints(ctx context.Context, privatelinkServiceId string) VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest {
	return VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest{
		ApiService:           a,
		ctx:                  ctx,
		privatelinkServiceId: privatelinkServiceId,
	}
}

// Execute executes the request
//
//	@return ConnectedEndpointListResponse
func (a *VpcV1PrivateLinkServiceApiAPIService) ListConnectedPrivateLinkEndpointsExecute(r VpcV1PrivateLinkServiceApiAPIListConnectedPrivateLinkEndpointsRequest) (*ConnectedEndpointListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectedEndpointListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-services/{privatelink_service_id}/connected-endpoints"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_service_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkServiceId, "privatelinkServiceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest struct {
	ctx                        context.Context
	ApiService                 *VpcV1PrivateLinkServiceApiAPIService
	size                       *int32
	page                       *int32
	sort                       *string
	id                         *string
	name                       *string
	vpcId                      *string
	subnetId                   *string
	serviceIpAddress           *string
	connectedResourceId        *string
	connectedResourceType      *string
	connectedResourceName      *string
	connectedResourceIpAddress *string
	state                      *PrivateLinkServiceState
}

// size
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) Size(size int32) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.size = &size
	return r
}

// page
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) Page(page int32) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.page = &page
	return r
}

// sort
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) Sort(sort string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.sort = &sort
	return r
}

// PrivateLink Service ID
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) Id(id string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.id = &id
	return r
}

// PrivateLink Service Name
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) Name(name string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.name = &name
	return r
}

// VPC Id
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) VpcId(vpcId string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.vpcId = &vpcId
	return r
}

// Subnet Id
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) SubnetId(subnetId string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.subnetId = &subnetId
	return r
}

// Service IP Address
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) ServiceIpAddress(serviceIpAddress string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.serviceIpAddress = &serviceIpAddress
	return r
}

// Connected Resource ID
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) ConnectedResourceId(connectedResourceId string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.connectedResourceId = &connectedResourceId
	return r
}

// Connected Resource Type
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) ConnectedResourceType(connectedResourceType string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.connectedResourceType = &connectedResourceType
	return r
}

// Connected Resource Name
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) ConnectedResourceName(connectedResourceName string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.connectedResourceName = &connectedResourceName
	return r
}

// Connected Resource IP Address
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) ConnectedResourceIpAddress(connectedResourceIpAddress string) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.connectedResourceIpAddress = &connectedResourceIpAddress
	return r
}

// PrivateLink Service State
func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) State(state PrivateLinkServiceState) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	r.state = &state
	return r
}

func (r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) Execute() (*PrivateLinkServiceListResponse, *http.Response, error) {
	return r.ApiService.ListPrivateLinkServicesExecute(r)
}

/*
ListPrivateLinkServices List PrivateLink Service

Get PrivateLink Service List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest
*/
func (a *VpcV1PrivateLinkServiceApiAPIService) ListPrivateLinkServices(ctx context.Context) VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest {
	return VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrivateLinkServiceListResponse
func (a *VpcV1PrivateLinkServiceApiAPIService) ListPrivateLinkServicesExecute(r VpcV1PrivateLinkServiceApiAPIListPrivateLinkServicesRequest) (*PrivateLinkServiceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkServiceListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.vpcId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_id", r.vpcId, "form", "")
	}
	if r.subnetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subnet_id", r.subnetId, "form", "")
	}
	if r.serviceIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service_ip_address", r.serviceIpAddress, "form", "")
	}
	if r.connectedResourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connected_resource_id", r.connectedResourceId, "form", "")
	}
	if r.connectedResourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connected_resource_type", r.connectedResourceType, "form", "")
	}
	if r.connectedResourceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connected_resource_name", r.connectedResourceName, "form", "")
	}
	if r.connectedResourceIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connected_resource_ip_address", r.connectedResourceIpAddress, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest struct {
	ctx                          context.Context
	ApiService                   *VpcV1PrivateLinkServiceApiAPIService
	privatelinkServiceId         string
	privateLinkServiceSetRequest *PrivateLinkServiceSetRequest
}

func (r VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest) PrivateLinkServiceSetRequest(privateLinkServiceSetRequest PrivateLinkServiceSetRequest) VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest {
	r.privateLinkServiceSetRequest = &privateLinkServiceSetRequest
	return r
}

func (r VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest) Execute() (*PrivateLinkServiceShowResponse, *http.Response, error) {
	return r.ApiService.SetPrivateLinkServiceExecute(r)
}

/*
SetPrivateLinkService Set PrivateLink Service

Set PrivateLink Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkServiceId PrivateLink Service ID
	@return VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest
*/
func (a *VpcV1PrivateLinkServiceApiAPIService) SetPrivateLinkService(ctx context.Context, privatelinkServiceId string) VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest {
	return VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest{
		ApiService:           a,
		ctx:                  ctx,
		privatelinkServiceId: privatelinkServiceId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkServiceShowResponse
func (a *VpcV1PrivateLinkServiceApiAPIService) SetPrivateLinkServiceExecute(r VpcV1PrivateLinkServiceApiAPISetPrivateLinkServiceRequest) (*PrivateLinkServiceShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkServiceShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-services/{privatelink_service_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_service_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkServiceId, "privatelinkServiceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.privateLinkServiceSetRequest == nil {
		return localVarReturnValue, nil, reportError("privateLinkServiceSetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.privateLinkServiceSetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcV1PrivateLinkServiceApiAPIShowPrivateLinkServiceRequest struct {
	ctx                  context.Context
	ApiService           *VpcV1PrivateLinkServiceApiAPIService
	privatelinkServiceId string
}

func (r VpcV1PrivateLinkServiceApiAPIShowPrivateLinkServiceRequest) Execute() (*PrivateLinkServiceShowResponse, *http.Response, error) {
	return r.ApiService.ShowPrivateLinkServiceExecute(r)
}

/*
ShowPrivateLinkService Show PrivateLink Service

Show PrivateLink Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param privatelinkServiceId PrivateLink Service ID
	@return VpcV1PrivateLinkServiceApiAPIShowPrivateLinkServiceRequest
*/
func (a *VpcV1PrivateLinkServiceApiAPIService) ShowPrivateLinkService(ctx context.Context, privatelinkServiceId string) VpcV1PrivateLinkServiceApiAPIShowPrivateLinkServiceRequest {
	return VpcV1PrivateLinkServiceApiAPIShowPrivateLinkServiceRequest{
		ApiService:           a,
		ctx:                  ctx,
		privatelinkServiceId: privatelinkServiceId,
	}
}

// Execute executes the request
//
//	@return PrivateLinkServiceShowResponse
func (a *VpcV1PrivateLinkServiceApiAPIService) ShowPrivateLinkServiceExecute(r VpcV1PrivateLinkServiceApiAPIShowPrivateLinkServiceRequest) (*PrivateLinkServiceShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrivateLinkServiceShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/privatelink-services/{privatelink_service_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"privatelink_service_id"+"}", url.PathEscape(parameterValueToString(r.privatelinkServiceId, "privatelinkServiceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "vpc 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpc")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
