/*
OSSCP SCP Security Service

OSSCP SCP Security Service

API version: 1.3.5.dev156
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package configinspection

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// ConfiginspectionV1ConfigInspectionApiAPIService ConfiginspectionV1ConfigInspectionApiAPI service
type ConfiginspectionV1ConfigInspectionApiAPIService service

type ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest struct {
	ctx                  context.Context
	ApiService           *ConfiginspectionV1ConfigInspectionApiAPIService
	withCount            *string
	limit                *int32
	marker               *string
	sort                 *string
	isMine               *bool
	diagnosisId          *string
	diagnosisName        *string
	cspType              *string
	diagnosisAccountId   *string
	recentDiagnosisState *[]*string
	startDate            *string
	endDate              *string
}

// with count
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) WithCount(withCount string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.withCount = &withCount
	return r
}

// limit
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) Limit(limit int32) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.limit = &limit
	return r
}

// marker
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) Marker(marker string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.marker = &marker
	return r
}

// sort
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) Sort(sort string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.sort = &sort
	return r
}

// my Config Inspection
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) IsMine(isMine bool) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.isMine = &isMine
	return r
}

// Id of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) DiagnosisId(diagnosisId string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.diagnosisId = &diagnosisId
	return r
}

// Name of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) DiagnosisName(diagnosisName string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.diagnosisName = &diagnosisName
	return r
}

// Type of cloud service provider
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) CspType(cspType string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.cspType = &cspType
	return r
}

// Id of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) DiagnosisAccountId(diagnosisAccountId string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.diagnosisAccountId = &diagnosisAccountId
	return r
}

// recent Diagnosis State
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) RecentDiagnosisState(recentDiagnosisState []*string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.recentDiagnosisState = &recentDiagnosisState
	return r
}

// start Date
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) StartDate(startDate string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.startDate = &startDate
	return r
}

// end Date
func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) EndDate(endDate string) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	r.endDate = &endDate
	return r
}

func (r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) Execute() (*ConfigInspectionListResponse, *http.Response, error) {
	return r.ApiService.ConfigInspectionListExecute(r)
}

/*
ConfigInspectionList List Config Inspection

get config inspection list

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) ConfigInspectionList(ctx context.Context) ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest {
	return ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConfigInspectionListResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) ConfigInspectionListExecute(r ConfiginspectionV1ConfigInspectionApiAPIConfigInspectionListRequest) (*ConfigInspectionListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConfigInspectionListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/diagnosis/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.withCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_count", r.withCount, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.marker != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marker", r.marker, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.isMine != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isMine", r.isMine, "form", "")
	}
	if r.diagnosisId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_id", r.diagnosisId, "form", "")
	}
	if r.diagnosisName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_name", r.diagnosisName, "form", "")
	}
	if r.cspType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "csp_type", r.cspType, "form", "")
	}
	if r.diagnosisAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_account_id", r.diagnosisAccountId, "form", "")
	}
	if r.recentDiagnosisState != nil {
		t := *r.recentDiagnosisState
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "recent_diagnosis_state", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "recent_diagnosis_state", t, "form", "multi")
		}
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest struct {
	ctx                    context.Context
	ApiService             *ConfiginspectionV1ConfigInspectionApiAPIService
	diagnosisObjectRequest *DiagnosisObjectRequest
}

func (r ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest) DiagnosisObjectRequest(diagnosisObjectRequest DiagnosisObjectRequest) ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest {
	r.diagnosisObjectRequest = &diagnosisObjectRequest
	return r
}

func (r ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest) Execute() (*CheckResponse, *http.Response, error) {
	return r.ApiService.CreateDiagnosisObjectExecute(r)
}

/*
CreateDiagnosisObject Create Config Inspection

Create Diagnosis Object

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) CreateDiagnosisObject(ctx context.Context) ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest {
	return ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CheckResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) CreateDiagnosisObjectExecute(r ConfiginspectionV1ConfigInspectionApiAPICreateDiagnosisObjectRequest) (*CheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CheckResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/diagnosis/save"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.diagnosisObjectRequest == nil {
		return localVarReturnValue, nil, reportError("diagnosisObjectRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.diagnosisObjectRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest struct {
	ctx              context.Context
	ApiService       *ConfiginspectionV1ConfigInspectionApiAPIService
	diagnosisRequest *DiagnosisRequest
}

func (r ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest) DiagnosisRequest(diagnosisRequest DiagnosisRequest) ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest {
	r.diagnosisRequest = &diagnosisRequest
	return r
}

func (r ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest) Execute() (*CheckResponse, *http.Response, error) {
	return r.ApiService.DiagnosisRequestExecute(r)
}

/*
DiagnosisRequest Diagnosis Request

Request diagnosis

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) DiagnosisRequest(ctx context.Context) ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest {
	return ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CheckResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) DiagnosisRequestExecute(r ConfiginspectionV1ConfigInspectionApiAPIDiagnosisRequestRequest) (*CheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CheckResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/diagnosis/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.diagnosisRequest == nil {
		return localVarReturnValue, nil, reportError("diagnosisRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.diagnosisRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest struct {
	ctx                            context.Context
	ApiService                     *ConfiginspectionV1ConfigInspectionApiAPIService
	configInspectionLookinResponse *ConfigInspectionLookinResponse
}

func (r ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest) ConfigInspectionLookinResponse(configInspectionLookinResponse ConfigInspectionLookinResponse) ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest {
	r.configInspectionLookinResponse = &configInspectionLookinResponse
	return r
}

func (r ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest) Execute() (*CheckResponse, *http.Response, error) {
	return r.ApiService.DiagnosisResponseExecute(r)
}

/*
DiagnosisResponse Disgnosis Response

Response diagnosis

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) DiagnosisResponse(ctx context.Context) ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest {
	return ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CheckResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) DiagnosisResponseExecute(r ConfiginspectionV1ConfigInspectionApiAPIDiagnosisResponseRequest) (*CheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CheckResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/diagnosis/response"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.configInspectionLookinResponse == nil {
		return localVarReturnValue, nil, reportError("configInspectionLookinResponse is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.configInspectionLookinResponse
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisObjectDetailRequest struct {
	ctx         context.Context
	ApiService  *ConfiginspectionV1ConfigInspectionApiAPIService
	diagnosisId string
}

func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisObjectDetailRequest) Execute() (*DiagnosisObjectDetailResponse, *http.Response, error) {
	return r.ApiService.GetDiagnosisObjectDetailExecute(r)
}

/*
GetDiagnosisObjectDetail Get Diagnosis Object Detail

Get Diagnosis Object Detail

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param diagnosisId Id of diagnosis
	@return ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisObjectDetailRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) GetDiagnosisObjectDetail(ctx context.Context, diagnosisId string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisObjectDetailRequest {
	return ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisObjectDetailRequest{
		ApiService:  a,
		ctx:         ctx,
		diagnosisId: diagnosisId,
	}
}

// Execute executes the request
//
//	@return DiagnosisObjectDetailResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) GetDiagnosisObjectDetailExecute(r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisObjectDetailRequest) (*DiagnosisObjectDetailResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiagnosisObjectDetailResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/diagnosis/detail/{diagnosis_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"diagnosis_id"+"}", url.PathEscape(parameterValueToString(r.diagnosisId, "diagnosisId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest struct {
	ctx                      context.Context
	ApiService               *ConfiginspectionV1ConfigInspectionApiAPIService
	diagnosisId              *string
	diagnosisRequestSequence *string
	withCount                *string
	limit                    *int32
	marker                   *string
	sort                     *string
}

// Id of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) DiagnosisId(diagnosisId string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	r.diagnosisId = &diagnosisId
	return r
}

// Sequence of diagnosis request
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) DiagnosisRequestSequence(diagnosisRequestSequence string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	r.diagnosisRequestSequence = &diagnosisRequestSequence
	return r
}

// with count
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) WithCount(withCount string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	r.withCount = &withCount
	return r
}

// limit
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) Limit(limit int32) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	r.limit = &limit
	return r
}

// marker
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) Marker(marker string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	r.marker = &marker
	return r
}

// sort
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) Sort(sort string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	r.sort = &sort
	return r
}

func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) Execute() (*DiagnosisResultDetailResponse, *http.Response, error) {
	return r.ApiService.GetDiagnosisResultDetailExecute(r)
}

/*
GetDiagnosisResultDetail Get Diagnosis Result Detail

get Diagnosis Result Detail

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) GetDiagnosisResultDetail(ctx context.Context) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest {
	return ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiagnosisResultDetailResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) GetDiagnosisResultDetailExecute(r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultDetailRequest) (*DiagnosisResultDetailResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiagnosisResultDetailResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/report/diagnosis/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.diagnosisId == nil {
		return localVarReturnValue, nil, reportError("diagnosisId is required and must be specified")
	}
	if r.diagnosisRequestSequence == nil {
		return localVarReturnValue, nil, reportError("diagnosisRequestSequence is required and must be specified")
	}

	if r.withCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_count", r.withCount, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.marker != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marker", r.marker, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_id", r.diagnosisId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_request_sequence", r.diagnosisRequestSequence, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest struct {
	ctx            context.Context
	ApiService     *ConfiginspectionV1ConfigInspectionApiAPIService
	withCount      *string
	limit          *int32
	marker         *string
	sort           *string
	accountId      *string
	diagnosisId    *string
	diagnosisName  *string
	startDate      *string
	endDate        *string
	cspType        *string
	diagnosisState *string
	userId         *string
}

// with count
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) WithCount(withCount string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.withCount = &withCount
	return r
}

// limit
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) Limit(limit int32) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.limit = &limit
	return r
}

// marker
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) Marker(marker string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.marker = &marker
	return r
}

// sort
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) Sort(sort string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.sort = &sort
	return r
}

// account Id
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) AccountId(accountId string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.accountId = &accountId
	return r
}

// Id of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) DiagnosisId(diagnosisId string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.diagnosisId = &diagnosisId
	return r
}

// Name of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) DiagnosisName(diagnosisName string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.diagnosisName = &diagnosisName
	return r
}

// start Date
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) StartDate(startDate string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.startDate = &startDate
	return r
}

// end Date
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) EndDate(endDate string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.endDate = &endDate
	return r
}

// Type of cloud service provider
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) CspType(cspType string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.cspType = &cspType
	return r
}

// Status of diagnosis
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) DiagnosisState(diagnosisState string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.diagnosisState = &diagnosisState
	return r
}

// user Id
func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) UserId(userId string) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	r.userId = &userId
	return r
}

func (r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) Execute() (*DiagnosisResultListResponse, *http.Response, error) {
	return r.ApiService.GetDiagnosisResultListExecute(r)
}

/*
GetDiagnosisResultList List Diagnosis Result

get Diagnosis Result List

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) GetDiagnosisResultList(ctx context.Context) ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest {
	return ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiagnosisResultListResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) GetDiagnosisResultListExecute(r ConfiginspectionV1ConfigInspectionApiAPIGetDiagnosisResultListRequest) (*DiagnosisResultListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiagnosisResultListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/report/diagnosis/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.withCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_count", r.withCount, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.marker != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marker", r.marker, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "")
	}
	if r.diagnosisId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_id", r.diagnosisId, "form", "")
	}
	if r.diagnosisName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_name", r.diagnosisName, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.cspType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "csp_type", r.cspType, "form", "")
	}
	if r.diagnosisState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "diagnosis_state", r.diagnosisState, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfiginspectionV1ConfigInspectionApiAPITerminateDiagnosisObjectRequest struct {
	ctx         context.Context
	ApiService  *ConfiginspectionV1ConfigInspectionApiAPIService
	diagnosisId string
}

func (r ConfiginspectionV1ConfigInspectionApiAPITerminateDiagnosisObjectRequest) Execute() (*TerminateResponse, *http.Response, error) {
	return r.ApiService.TerminateDiagnosisObjectExecute(r)
}

/*
TerminateDiagnosisObject Delete Config Inspection

Delete Config Inspection Product

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param diagnosisId Id of diagnosis
	@return ConfiginspectionV1ConfigInspectionApiAPITerminateDiagnosisObjectRequest
*/
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) TerminateDiagnosisObject(ctx context.Context, diagnosisId string) ConfiginspectionV1ConfigInspectionApiAPITerminateDiagnosisObjectRequest {
	return ConfiginspectionV1ConfigInspectionApiAPITerminateDiagnosisObjectRequest{
		ApiService:  a,
		ctx:         ctx,
		diagnosisId: diagnosisId,
	}
}

// Execute executes the request
//
//	@return TerminateResponse
func (a *ConfiginspectionV1ConfigInspectionApiAPIService) TerminateDiagnosisObjectExecute(r ConfiginspectionV1ConfigInspectionApiAPITerminateDiagnosisObjectRequest) (*TerminateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TerminateResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/configinspection/diagnosis/terminate/{diagnosis_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"diagnosis_id"+"}", url.PathEscape(parameterValueToString(r.diagnosisId, "diagnosisId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "configinspection 1.0"
	version := "v1.0"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil, nil, errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "configinspection")
	if err != nil {
		return localVarReturnValue, nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
