/*
SCP Network Service

SCP Network Service

API version: 1.3.0.0rc1.dev1386
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vpn

import (
	"bytes"
	"context"
	"errors"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VpnV1VpnTunnelsApiAPIService VpnV1VpnTunnelsApiAPI service
type VpnV1VpnTunnelsApiAPIService service

type VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest struct {
	ctx context.Context
	ApiService *VpnV1VpnTunnelsApiAPIService
	vpnTunnelCreateRequestV1Dot1 *VpnTunnelCreateRequestV1Dot1
}

func (r VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest) VpnTunnelCreateRequestV1Dot1(vpnTunnelCreateRequestV1Dot1 VpnTunnelCreateRequestV1Dot1) VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest {
	r.vpnTunnelCreateRequestV1Dot1 = &vpnTunnelCreateRequestV1Dot1
	return r
}

func (r VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest) Execute() (*VpnTunnelShowResponseV1Dot1, *http.Response, error) {
	return r.ApiService.CreateVpnTunnelExecute(r)
}

/*
CreateVpnTunnel Create VPN Tunnel

Create VPN tunnel.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest
*/
func (a *VpnV1VpnTunnelsApiAPIService) CreateVpnTunnel(ctx context.Context) VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest {
	return VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VpnTunnelShowResponseV1Dot1
func (a *VpnV1VpnTunnelsApiAPIService) CreateVpnTunnelExecute(r VpnV1VpnTunnelsApiAPICreateVpnTunnelRequest) (*VpnTunnelShowResponseV1Dot1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VpnTunnelShowResponseV1Dot1
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/vpn-tunnels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vpnTunnelCreateRequestV1Dot1 == nil {
		return localVarReturnValue, nil, reportError("vpnTunnelCreateRequestV1Dot1 is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "vpn 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpn")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vpnTunnelCreateRequestV1Dot1
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpnV1VpnTunnelsApiAPIDeleteVpnTunnelRequest struct {
	ctx context.Context
	ApiService *VpnV1VpnTunnelsApiAPIService
	vpnTunnelId string
}

func (r VpnV1VpnTunnelsApiAPIDeleteVpnTunnelRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteVpnTunnelExecute(r)
}

/*
DeleteVpnTunnel Delete VPN Tunnel

Delete VPN tunnel.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vpnTunnelId VPN Tunnel ID
 @return VpnV1VpnTunnelsApiAPIDeleteVpnTunnelRequest
*/
func (a *VpnV1VpnTunnelsApiAPIService) DeleteVpnTunnel(ctx context.Context, vpnTunnelId string) VpnV1VpnTunnelsApiAPIDeleteVpnTunnelRequest {
	return VpnV1VpnTunnelsApiAPIDeleteVpnTunnelRequest{
		ApiService: a,
		ctx: ctx,
		vpnTunnelId: vpnTunnelId,
	}
}

// Execute executes the request
func (a *VpnV1VpnTunnelsApiAPIService) DeleteVpnTunnelExecute(r VpnV1VpnTunnelsApiAPIDeleteVpnTunnelRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/vpn-tunnels/{vpn_tunnel_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vpn_tunnel_id"+"}", url.PathEscape(parameterValueToString(r.vpnTunnelId, "vpnTunnelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "vpn 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpn")
	if err != nil {
		return  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest struct {
	ctx context.Context
	ApiService *VpnV1VpnTunnelsApiAPIService
	size *int32
	page *int32
	sort *string
	name *string
	vpnGatewayId *string
	vpnGatewayName *string
}

// size
func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) Size(size int32) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	r.size = &size
	return r
}

// page
func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) Page(page int32) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	r.page = &page
	return r
}

// sort
func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) Sort(sort string) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	r.sort = &sort
	return r
}

// VPN Tunnel Name
func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) Name(name string) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	r.name = &name
	return r
}

// VPN Gateway ID
func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) VpnGatewayId(vpnGatewayId string) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	r.vpnGatewayId = &vpnGatewayId
	return r
}

// VPN Gateway Name
func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) VpnGatewayName(vpnGatewayName string) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	r.vpnGatewayName = &vpnGatewayName
	return r
}

func (r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) Execute() (*VpnTunnelListResponseV1Dot1, *http.Response, error) {
	return r.ApiService.ListVpnTunnelsExecute(r)
}

/*
ListVpnTunnels List VPN Tunnels

Get VPN tunnel list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest
*/
func (a *VpnV1VpnTunnelsApiAPIService) ListVpnTunnels(ctx context.Context) VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest {
	return VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VpnTunnelListResponseV1Dot1
func (a *VpnV1VpnTunnelsApiAPIService) ListVpnTunnelsExecute(r VpnV1VpnTunnelsApiAPIListVpnTunnelsRequest) (*VpnTunnelListResponseV1Dot1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VpnTunnelListResponseV1Dot1
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/vpn-tunnels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	if r.vpnGatewayId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpn_gateway_id", r.vpnGatewayId, "form", "")
    }
	if r.vpnGatewayName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpn_gateway_name", r.vpnGatewayName, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "vpn 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpn")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpnV1VpnTunnelsApiAPISetVpnTunnelRequest struct {
	ctx context.Context
	ApiService *VpnV1VpnTunnelsApiAPIService
	vpnTunnelId string
	vpnTunnelSetRequestV1Dot1 *VpnTunnelSetRequestV1Dot1
}

func (r VpnV1VpnTunnelsApiAPISetVpnTunnelRequest) VpnTunnelSetRequestV1Dot1(vpnTunnelSetRequestV1Dot1 VpnTunnelSetRequestV1Dot1) VpnV1VpnTunnelsApiAPISetVpnTunnelRequest {
	r.vpnTunnelSetRequestV1Dot1 = &vpnTunnelSetRequestV1Dot1
	return r
}

func (r VpnV1VpnTunnelsApiAPISetVpnTunnelRequest) Execute() (*VpnTunnelShowResponseV1Dot1, *http.Response, error) {
	return r.ApiService.SetVpnTunnelExecute(r)
}

/*
SetVpnTunnel Set VPN Tunnel

Set VPN tunnel.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vpnTunnelId VPN Tunnel ID
 @return VpnV1VpnTunnelsApiAPISetVpnTunnelRequest
*/
func (a *VpnV1VpnTunnelsApiAPIService) SetVpnTunnel(ctx context.Context, vpnTunnelId string) VpnV1VpnTunnelsApiAPISetVpnTunnelRequest {
	return VpnV1VpnTunnelsApiAPISetVpnTunnelRequest{
		ApiService: a,
		ctx: ctx,
		vpnTunnelId: vpnTunnelId,
	}
}

// Execute executes the request
//  @return VpnTunnelShowResponseV1Dot1
func (a *VpnV1VpnTunnelsApiAPIService) SetVpnTunnelExecute(r VpnV1VpnTunnelsApiAPISetVpnTunnelRequest) (*VpnTunnelShowResponseV1Dot1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VpnTunnelShowResponseV1Dot1
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/vpn-tunnels/{vpn_tunnel_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vpn_tunnel_id"+"}", url.PathEscape(parameterValueToString(r.vpnTunnelId, "vpnTunnelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vpnTunnelSetRequestV1Dot1 == nil {
		return localVarReturnValue, nil, reportError("vpnTunnelSetRequestV1Dot1 is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "vpn 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpn")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vpnTunnelSetRequestV1Dot1
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpnV1VpnTunnelsApiAPIShowVpnTunnelRequest struct {
	ctx context.Context
	ApiService *VpnV1VpnTunnelsApiAPIService
	vpnTunnelId string
}

func (r VpnV1VpnTunnelsApiAPIShowVpnTunnelRequest) Execute() (*VpnTunnelShowWithStatusResponseV1Dot1, *http.Response, error) {
	return r.ApiService.ShowVpnTunnelExecute(r)
}

/*
ShowVpnTunnel Show VPN Tunnel

Show VPN tunnel.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vpnTunnelId VPN Tunnel ID
 @return VpnV1VpnTunnelsApiAPIShowVpnTunnelRequest
*/
func (a *VpnV1VpnTunnelsApiAPIService) ShowVpnTunnel(ctx context.Context, vpnTunnelId string) VpnV1VpnTunnelsApiAPIShowVpnTunnelRequest {
	return VpnV1VpnTunnelsApiAPIShowVpnTunnelRequest{
		ApiService: a,
		ctx: ctx,
		vpnTunnelId: vpnTunnelId,
	}
}

// Execute executes the request
//  @return VpnTunnelShowWithStatusResponseV1Dot1
func (a *VpnV1VpnTunnelsApiAPIService) ShowVpnTunnelExecute(r VpnV1VpnTunnelsApiAPIShowVpnTunnelRequest) (*VpnTunnelShowWithStatusResponseV1Dot1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VpnTunnelShowWithStatusResponseV1Dot1
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/vpn-tunnels/{vpn_tunnel_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vpn_tunnel_id"+"}", url.PathEscape(parameterValueToString(r.vpnTunnelId, "vpnTunnelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "vpn 1.1"
	version := "v1.1"
	versionFlag := false
	for _, v := range a.client.cfg.AllowSDKVersion {
		if v == version {
			versionFlag = true
		}
	}
	if !versionFlag {
		return nil,  nil,  errors.New(localVarHeaderParams["Scp-API-Version"] + " SDK version does not match allowed version, please update your provider.")
	}

	catalog := scpsdk.NewCatalog(
		a.client.cfg.AuthUrl,
		a.client.cfg.Credentials.AccessKey,
		a.client.cfg.Credentials.SecretKey,
		a.client.cfg.DefaultRegion,
	)
	_, err := catalog.CheckVersion(basePath, a.client.cfg.AllowSDKVersion, "vpn")
	if err != nil {
		return localVarReturnValue,  nil, err
	}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []ValidationErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.ErrorMessage = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.ErrorMessage = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.ErrorModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
