/*
SCP Network Service

SCP Network Service

API version: 0.0.1.dev6882
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package networklogging

import (
	"bytes"
	"context"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// NetworkLoggingV1NetworkLoggingStorageApiAPIService NetworkLoggingV1NetworkLoggingStorageApiAPI service
type NetworkLoggingV1NetworkLoggingStorageApiAPIService service

type NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest struct {
	ctx                                context.Context
	ApiService                         *NetworkLoggingV1NetworkLoggingStorageApiAPIService
	networkLoggingStorageCreateRequest *NetworkLoggingStorageCreateRequest
}

func (r NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest) NetworkLoggingStorageCreateRequest(networkLoggingStorageCreateRequest NetworkLoggingStorageCreateRequest) NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest {
	r.networkLoggingStorageCreateRequest = &networkLoggingStorageCreateRequest
	return r
}

func (r NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest) Execute() (*NetworkLoggingStorageShowResponse, *http.Response, error) {
	return r.ApiService.CreateNetworkLoggingStorageExecute(r)
}

/*
CreateNetworkLoggingStorage Create Network Logging Storage

Create Network Logging Storage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest
*/
func (a *NetworkLoggingV1NetworkLoggingStorageApiAPIService) CreateNetworkLoggingStorage(ctx context.Context) NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest {
	return NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkLoggingStorageShowResponse
func (a *NetworkLoggingV1NetworkLoggingStorageApiAPIService) CreateNetworkLoggingStorageExecute(r NetworkLoggingV1NetworkLoggingStorageApiAPICreateNetworkLoggingStorageRequest) (*NetworkLoggingStorageShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkLoggingStorageShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/network-logging/storages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkLoggingStorageCreateRequest == nil {
		return localVarReturnValue, nil, reportError("networkLoggingStorageCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "networklogging 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkLoggingStorageCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkLoggingV1NetworkLoggingStorageApiAPIDeleteNetworkLoggingStorageRequest struct {
	ctx                     context.Context
	ApiService              *NetworkLoggingV1NetworkLoggingStorageApiAPIService
	networkLoggingStorageId string
}

func (r NetworkLoggingV1NetworkLoggingStorageApiAPIDeleteNetworkLoggingStorageRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteNetworkLoggingStorageExecute(r)
}

/*
DeleteNetworkLoggingStorage Delete Network Logging Storage

Delete Network Logging Storage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkLoggingStorageId Network Logging Storage ID
	@return NetworkLoggingV1NetworkLoggingStorageApiAPIDeleteNetworkLoggingStorageRequest
*/
func (a *NetworkLoggingV1NetworkLoggingStorageApiAPIService) DeleteNetworkLoggingStorage(ctx context.Context, networkLoggingStorageId string) NetworkLoggingV1NetworkLoggingStorageApiAPIDeleteNetworkLoggingStorageRequest {
	return NetworkLoggingV1NetworkLoggingStorageApiAPIDeleteNetworkLoggingStorageRequest{
		ApiService:              a,
		ctx:                     ctx,
		networkLoggingStorageId: networkLoggingStorageId,
	}
}

// Execute executes the request
func (a *NetworkLoggingV1NetworkLoggingStorageApiAPIService) DeleteNetworkLoggingStorageExecute(r NetworkLoggingV1NetworkLoggingStorageApiAPIDeleteNetworkLoggingStorageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/network-logging/storages/{network_logging_storage_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"network_logging_storage_id"+"}", url.PathEscape(parameterValueToString(r.networkLoggingStorageId, "networkLoggingStorageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "networklogging 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest struct {
	ctx          context.Context
	ApiService   *NetworkLoggingV1NetworkLoggingStorageApiAPIService
	resourceType *NetworkLoggingResourceType
	withCount    *string
	limit        *int32
	marker       *string
	sort         *string
}

// Resource Type
func (r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) ResourceType(resourceType NetworkLoggingResourceType) NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest {
	r.resourceType = &resourceType
	return r
}

// with count
func (r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) WithCount(withCount string) NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest {
	r.withCount = &withCount
	return r
}

// limit
func (r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) Limit(limit int32) NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest {
	r.limit = &limit
	return r
}

// marker
func (r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) Marker(marker string) NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest {
	r.marker = &marker
	return r
}

// sort
func (r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) Sort(sort string) NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest {
	r.sort = &sort
	return r
}

func (r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) Execute() (*NetworkLoggingStorageListResponse, *http.Response, error) {
	return r.ApiService.ListNetworkLoggingStoragesExecute(r)
}

/*
ListNetworkLoggingStorages List Network Logging Storages

Get Network Logging Storage list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest
*/
func (a *NetworkLoggingV1NetworkLoggingStorageApiAPIService) ListNetworkLoggingStorages(ctx context.Context) NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest {
	return NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkLoggingStorageListResponse
func (a *NetworkLoggingV1NetworkLoggingStorageApiAPIService) ListNetworkLoggingStoragesExecute(r NetworkLoggingV1NetworkLoggingStorageApiAPIListNetworkLoggingStoragesRequest) (*NetworkLoggingStorageListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkLoggingStorageListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/network-logging/storages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resourceType == nil {
		return localVarReturnValue, nil, reportError("resourceType is required and must be specified")
	}

	if r.withCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_count", r.withCount, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.marker != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marker", r.marker, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", r.resourceType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "networklogging 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
