/*
SCP LoadBalancer Service

SCP LoadBalancer Service

API version: 0.0.1.dev1712
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package loadbalancer

import (
	"bytes"
	"context"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/v3/client"
	"io"
	"net/http"
	"net/url"
    "reflect"
	"strings"
)


// LoadbalancerV1LBHealthCheckApiAPIService LoadbalancerV1LBHealthCheckApiAPI service
type LoadbalancerV1LBHealthCheckApiAPIService service

type LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest struct {
	ctx context.Context
	ApiService *LoadbalancerV1LBHealthCheckApiAPIService
	lbHealthCheckCreateRequest *LbHealthCheckCreateRequest
}

func (r LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest) LbHealthCheckCreateRequest(lbHealthCheckCreateRequest LbHealthCheckCreateRequest) LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest {
	r.lbHealthCheckCreateRequest = &lbHealthCheckCreateRequest
	return r
}

func (r LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest) Execute() (*LbHealthCheckShowResponse, *http.Response, error) {
	return r.ApiService.CreateLbHealthCheckExecute(r)
}

/*
CreateLbHealthCheck CreateLBHealthCheck

Create LB Health Check

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest
*/
func (a *LoadbalancerV1LBHealthCheckApiAPIService) CreateLbHealthCheck(ctx context.Context) LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest {
	return LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LbHealthCheckShowResponse
func (a *LoadbalancerV1LBHealthCheckApiAPIService) CreateLbHealthCheckExecute(r LoadbalancerV1LBHealthCheckApiAPICreateLbHealthCheckRequest) (*LbHealthCheckShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LbHealthCheckShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/lb-health-checks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lbHealthCheckCreateRequest == nil {
		return localVarReturnValue, nil, reportError("lbHealthCheckCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lbHealthCheckCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LBHealthCheckApiAPIDeleteLbHealthCheckRequest struct {
	ctx context.Context
	ApiService *LoadbalancerV1LBHealthCheckApiAPIService
	lbHealthCheckId string
}

func (r LoadbalancerV1LBHealthCheckApiAPIDeleteLbHealthCheckRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLbHealthCheckExecute(r)
}

/*
DeleteLbHealthCheck DeleteLBHealthCheck

Delete LB Health Check

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param lbHealthCheckId LB Health Check ID
 @return LoadbalancerV1LBHealthCheckApiAPIDeleteLbHealthCheckRequest
*/
func (a *LoadbalancerV1LBHealthCheckApiAPIService) DeleteLbHealthCheck(ctx context.Context, lbHealthCheckId string) LoadbalancerV1LBHealthCheckApiAPIDeleteLbHealthCheckRequest {
	return LoadbalancerV1LBHealthCheckApiAPIDeleteLbHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
		lbHealthCheckId: lbHealthCheckId,
	}
}

// Execute executes the request
func (a *LoadbalancerV1LBHealthCheckApiAPIService) DeleteLbHealthCheckExecute(r LoadbalancerV1LBHealthCheckApiAPIDeleteLbHealthCheckRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/lb-health-checks/{lb_health_check_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"lb_health_check_id"+"}", url.PathEscape(parameterValueToString(r.lbHealthCheckId, "lbHealthCheckId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

    localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest struct {
	ctx context.Context
	ApiService *LoadbalancerV1LBHealthCheckApiAPIService
	size *int32
	page *int32
	sort *string
	name *string
	protocol *Protocol
	subnetId *string
}

// size
func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) Size(size int32) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	r.size = &size
	return r
}

// page
func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) Page(page int32) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	r.page = &page
	return r
}

// sort
func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) Sort(sort string) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	r.sort = &sort
	return r
}

// LB Health Check name
func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) Name(name string) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	r.name = &name
	return r
}

// LB Health Check Protocol
func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) Protocol(protocol Protocol) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	r.protocol = &protocol
	return r
}

// Service Subnet ID
func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) SubnetId(subnetId string) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	r.subnetId = &subnetId
	return r
}

func (r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) Execute() (*LbHealthCheckListResponse, *http.Response, error) {
	return r.ApiService.ListLbHealthChecksExecute(r)
}

/*
ListLbHealthChecks ListLBHealthChecks

List LB Health Checks

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest
*/
func (a *LoadbalancerV1LBHealthCheckApiAPIService) ListLbHealthChecks(ctx context.Context) LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest {
	return LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LbHealthCheckListResponse
func (a *LoadbalancerV1LBHealthCheckApiAPIService) ListLbHealthChecksExecute(r LoadbalancerV1LBHealthCheckApiAPIListLbHealthChecksRequest) (*LbHealthCheckListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LbHealthCheckListResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/lb-health-checks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
    }
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
    }
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
    }
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
    }
	if r.protocol != nil {
        data := r.protocol
        data_val := *data
        val := reflect.ValueOf(data_val)
        for i := 0; i < val.NumField(); i++ {
            field := val.Field(i)
            if field.IsValid() && !field.IsZero() {
                parameterAddToHeaderOrQuery(localVarQueryParams, "protocol", field.Interface(), "form", "")
            }
        }
    }
	if r.subnetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subnet_id", r.subnetId, "form", "")
    }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest struct {
	ctx context.Context
	ApiService *LoadbalancerV1LBHealthCheckApiAPIService
	lbHealthCheckId string
	lbHealthCheckSetRequest *LbHealthCheckSetRequest
}

func (r LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest) LbHealthCheckSetRequest(lbHealthCheckSetRequest LbHealthCheckSetRequest) LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest {
	r.lbHealthCheckSetRequest = &lbHealthCheckSetRequest
	return r
}

func (r LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest) Execute() (*LbHealthCheckShowResponse, *http.Response, error) {
	return r.ApiService.SetLbHealthCheckExecute(r)
}

/*
SetLbHealthCheck SetLBHealthCheck

Set LB Health Check

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param lbHealthCheckId LB Health Check ID
 @return LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest
*/
func (a *LoadbalancerV1LBHealthCheckApiAPIService) SetLbHealthCheck(ctx context.Context, lbHealthCheckId string) LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest {
	return LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
		lbHealthCheckId: lbHealthCheckId,
	}
}

// Execute executes the request
//  @return LbHealthCheckShowResponse
func (a *LoadbalancerV1LBHealthCheckApiAPIService) SetLbHealthCheckExecute(r LoadbalancerV1LBHealthCheckApiAPISetLbHealthCheckRequest) (*LbHealthCheckShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LbHealthCheckShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/lb-health-checks/{lb_health_check_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"lb_health_check_id"+"}", url.PathEscape(parameterValueToString(r.lbHealthCheckId, "lbHealthCheckId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lbHealthCheckSetRequest == nil {
		return localVarReturnValue, nil, reportError("lbHealthCheckSetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lbHealthCheckSetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadbalancerV1LBHealthCheckApiAPIShowLbHealthCheckRequest struct {
	ctx context.Context
	ApiService *LoadbalancerV1LBHealthCheckApiAPIService
	lbHealthCheckId string
}

func (r LoadbalancerV1LBHealthCheckApiAPIShowLbHealthCheckRequest) Execute() (*LbHealthCheckShowResponse, *http.Response, error) {
	return r.ApiService.ShowLbHealthCheckExecute(r)
}

/*
ShowLbHealthCheck ShowLBHealthCheck

Get LB Health Check

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param lbHealthCheckId LB Health Check ID
 @return LoadbalancerV1LBHealthCheckApiAPIShowLbHealthCheckRequest
*/
func (a *LoadbalancerV1LBHealthCheckApiAPIService) ShowLbHealthCheck(ctx context.Context, lbHealthCheckId string) LoadbalancerV1LBHealthCheckApiAPIShowLbHealthCheckRequest {
	return LoadbalancerV1LBHealthCheckApiAPIShowLbHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
		lbHealthCheckId: lbHealthCheckId,
	}
}

// Execute executes the request
//  @return LbHealthCheckShowResponse
func (a *LoadbalancerV1LBHealthCheckApiAPIService) ShowLbHealthCheckExecute(r LoadbalancerV1LBHealthCheckApiAPIShowLbHealthCheckRequest) (*LbHealthCheckShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LbHealthCheckShowResponse
	)

    var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/lb-health-checks/{lb_health_check_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"lb_health_check_id"+"}", url.PathEscape(parameterValueToString(r.lbHealthCheckId, "lbHealthCheckId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

    localVarHeaderParams["Scp-API-Version"] = "loadbalancer 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
